/*@import "_Variables";*/

%TopRibbon {
  background-color: #e9e4e0;
  position: fixed;
  z-index: 2;
  width: calc(100% + 32px) !important;
  padding: 7px 0 7px 0;

  .row {
    flex-wrap: nowrap;
    margin: 0 130px 0 5px;

    .role-for-user {
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;

      > div {
        height: 50px;
        padding: 0rem 1rem;
        width: 286px;

        &:last-child {
          padding-right: 0rem;
        }

        &:not(:last-child) {
          border-right: 1px solid #bdbdbd;
        }
        &:first-child,
        &:nth(2) {
          border-right: 0px solid #bdbdbd;
        }
      }
    }

    .action-for-tab {
      white-space: nowrap;

      > li {
        border-left: 1px solid #bdbdbd;
        display: table-cell;
        padding: 4px 16px 4px;
        &:not(.disabled) {
          cursor: pointer;
        }
        > a {
          margin: 0rem 5px;
          height: 38px;
          display: inline-block;
          &:hover {
            background-color: #a78987;
            border-radius: 50%;
            color: #fff;
          }

          > i {
            font-size: 12pt;
            height: 38px;
            line-height: 42px;
            text-align: center;
            vertical-align: middle;
            width: 38px;
            display: inline-block;
          }

          > .fa {
            font-size: 12pt;
          }
        }
      }

      > li:last-child {
        &:last-child {
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
  }
}

%LeftSideBar {
  position: fixed;
  z-index: 1013;
  width: 100px;
  left: 0px;
  bottom: 58px;
  max-height: calc(100% - 190px);
  overflow: auto;
  display: none;

  > li {
    border-bottom: 1px solid #bdbdbd;
    color: $black;
    padding: 0.5rem 0rem;
    a {
      color: #000;
    }
    &.active h3 {
      color: $red;
    }
    &.active i {
      color: $red;
    }
  }
}

%PlaceholderColor {
  input {
    &::-webkit-input-placeholder {
      font-size: $h6-font-size;
    }
    &::-moz-placeholder {
      font-size: $h6-font-size;
    }
    &:-ms-input-placeholder {
      font-size: $h6-font-size;
    }
    &::placeholder {
      font-size: $h6-font-size;
    }
  }
}

// Tien Add Tooltip: you can change witdh tooltip
@mixin tooltip($width) {
  overflow: hidden;
  text-overflow: ellipsis;
  width: $width;
  white-space: nowrap;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin HeaderTitle($position, $pull-right, $icon, $borderBottom) {
  font: {
    size: 16pt;
    // weight: 300;
  }

  position: relative;

  @if $borderBottom== "true" {
    border-bottom: 1px solid #bdbdbd;
  }

  &:before,
  &:after {
    color: $Color666666;

    font: {
      family: "FontAwesome";
      size: $h3-font-size;
      weight: normal;
    }

    position: absolute;
    bottom: -6px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 150ms ease-in 0s;
  }

  @if $position== "left" {
    padding-left: 1.5rem;

    &:before {
      content: $icon;
      left: 0;
    }
  }

  @if $position== "right" {
    @if $pull-right== "true" {
      display: block;
    }

    padding-right: 2rem;

    &:after {
      content: $icon;
      right: 0;
    }
  }

  &.expanded:before,
  &.expanded:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
