/*color*/
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$text-muted: $gray-600 !default;
$super-gray: #bdadad !default;
$white: #fff;
$ColorB24C50: #b24c50;
$Color4B0F0A: #4b0f0a;
$Color666666: #666666;
$label-color: #999;
$red: #ff0000;
$red-brown-color: #ca3a3a;
$red-danger: #f44336;
$text-active: RGB(134, 0, 0);
$header-title: #795547;
$hover-color: #f5f1ed;
$hover-color-1: #f0eedf;
$selected-color-1: #c00000;
$border-color: #bdbdbd;
$selected-color: #f0e6df;
$yellow: #ffe000;
$sub-menu-color: #bdaa8c;

$input-md-form-margin-top: 0;
$input-md-form-margin-bottom: 15pt;
$input-focus-color: #c00000;
$input-label-color: $black !default;
$input-md-focus-color: $border-color !default;
$input-form-control-padding-top: 2px;
$input-form-control-padding-bottom: 0;
$input-form-control-margin-bottom: 0;

/*Font*/
$font-size-base: 1pt !default;
$one-unit: 4pt !default;
$h1-font-size: $font-size-base * 27 !default;
$h2-font-size: $font-size-base * 23 !default;
$h3-font-size: $font-size-base * 18 !default;
$h4-font-size: $font-size-base * 14 !default;
$h5-font-size: $font-size-base * 11 !default;
$h6-font-size: $font-size-base * 9 !default;
$h7-font-size: $font-size-base * 7 !default;
$label-size: ($font-size-base * 8) + 0.5 !default;
$input-size: ($font-size-base * 9) + 0.75 !default;
$font-size-sm: 0.85rem;
$font-size-xs: 0.75rem;

$input-border-color: #bfbfbf !default;
$input-disabled-color: $input-border-color;

/* range width*/
$range: 5px !default;
$r1-top: $range * 1 !default;
$r2-top: $range * 2 !default;
$r3-top: $range * 4 !default;
$r4-top: $range * 5 !default;
$r5-top: $range * 8 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 1024px,
  md: 1366px,
  lg: 1920px,
  xl: 2880px,
);
$container-max-widths: (
  sm: 1024px,
  md: 1366px,
  lg: 1920px,
  xl: 2880px,
);
