@import "../../../node_modules/ng-uikit-pro-standard/assets/scss/bootstrap/mixins/breakpoints";
@import "../../../node_modules/ng-uikit-pro-standard/assets/scss/core/colors";
@import "../../../node_modules/ng-uikit-pro-standard/assets/scss/core/variables";
@import "~@mhs/layout/mhs";
@import "Variables";

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@import "Mixins";
@import "Styles";
@import "Custom";
// @import "Custom/custom-bootstrap.scss";
@import "Custom/input.scss";
// @import "Custom/kendo";
@import "Custom/custom-font";
@import "his.theme";

@import "util";

@import "Modules/ComingSoon";
// @import "Modules/Main";
// @import "Modules/Dashboard";
@import "Modules/RADT";
@import "Modules/Encounter";
@import "Modules/ConfigSys";
@import "Modules/ManagerPermission";
@import "Modules/Clinical";

@import "Modules/FuncDiagnosticImg";
@import "Modules/HospitalStatistic";
@import "Modules/lookup-pharmacy";
@import "Modules/ManageSchedule";
@import "Modules/OutPatientDrug";
//Start scss Fee
//Tien Add
@import "Modules/FeeManagement";
//End scss Fee
@import "Modules/diagnostic";

@import "Modules/Report";
@import "Modules/Notify.scss"; //huy

@import "Modules/DiagnosticTemplate";

@import "Modules/Encounter2";
@import "Modules/ecounts";
@import "_responsive";
