@font-face {
  font-family: "Segoe UI";
  src: url("/assets/font/SegoeUI.eot");
  src: url("/assets/font/SegoeUI.eot?#iefix") format("embedded-opentype"),
    url("/assets/font/SegoeUI.woff2") format("woff2"),
    url("/assets/font/SegoeUI.woff") format("woff"),
    url("/assets/font/SegoeUI.ttf") format("truetype"),
    url("/assets/font/SegoeUI.svg#Segoe UI") format("svg");
}

body {
  color: #000;
  font-family: Segoe UI;
}

.img-fluid {
  width: 100%;
}

.table thead th {
  border-bottom: 2px solid #bfbfbf;
}

.table th,
td {
  border-top: 0;
  border-bottom: 1px solid #e9ecef;
}

.wrapper {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.scroll-wrapper > .scroll-content {
  box-sizing: inherit !important;
}

.scroll-element.scroll-x {
  display: none !important;
}

/*upload image*/

.lv-uploadimage-a {
  &:focus {
    .TileCaptionMT {
      padding: 0.5rem !important;
      height: 33px;
    }
  }
  &:hover {
    .TileCaptionMT {
      padding: 0.5rem !important;
      height: 33px;
    }
  }
}
.lv-uploadimage {
  position: relative;
  width: 100px;
  cursor: pointer;

  &:focus {
    .TileCaptionMT {
      padding: 0.5rem !important;
      height: 36px;
    }
  }

  .webcam {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    @include size(20px);
  }

  .delete {
    color: red;
    display: block;
    position: absolute;
    right: 0;
    cursor: pointer;
    @include size(18px);
  }

  .img-center {
    margin: auto;
  }
}
lv-attach-file {
  width: 100%;
}

/*MDBootstrap*/

.disabled {
  cursor: default;
}

.inputVal {
  right: 0;
}

/*Checkbox*/

.lbChilCheckBox {
  position: relative;
  top: -13px;
  line-height: 30px;
  font-size: 7pt;
  padding-left: 30px;
  margin-bottom: 0px;
}

/*Button*/

.btn {
  box-shadow: none !important;
  margin: 0;
  text-transform: initial;

  &.btn[class*="btn-outline-"] {
    color: black !important;
    padding: calc(0.85rem - 2px) calc(2.13rem - 2px);

    &.active,
    &:active,
    &:active:focus,
    &:focus,
    &:hover {
      background-color: #c00000 !important;
      color: white !important;
    }

    &.disabled,
    &:disabled {
      color: black !important;
      background-color: transparent;
    }

    &.btn-sm {
      font-size: 0.875rem;
      padding: calc(0.5rem - 2px) calc(1.6rem - 2px);
    }
  }
}

/*Toast*/

#toast-container > mdb-toast-component {
  opacity: 1 !important;
}

.toast-error {
  background-color: rgba(216, 12, 31, 0.82);
}
.toast-success {
  background-color: rgba(22, 109, 29, 0.88);
}
.toast-warning {
  background-color: rgba(191, 208, 56, 0.92);
}
.toast-info {
  background-color: rgba(51, 181, 229, 0.87);
}
/*Modal*/

.modal-header {
  padding: 30px 30px 0px;
  border-bottom: none;

  .close {
    top: 0px; // phong edit
    //top:10px
    right: 8px; // phongedit
    position: absolute;
  }
}

.modal-body {
  padding: 20px 30px;
}

.modal-footer {
  background-color: #8c1919;
  pointer-events: auto;

  a[role="button"] {
    color: white !important;
    min-width: 120px;
    text-align: center;
  }
}

@include media-breakpoint-up(sm) {
  .modal-dialog {
    margin: 56px auto;
  }
  .modal-fluid {
    .modal-dialog {
      max-width: calc(100% - 100px);
    }
  }
}

@include media-breakpoint-up(lg) {
  .modal-xl {
    max-width: 1140px;
  }

  .modal .modal-fluid {
    max-width: calc(100% - 100px);
  }
}

.vital-bmi {
  .tooltip.tooltip-bottom,
  .tooltip.bs-tether-element-attached-top {
    margin-top: 9px !important;
  }

  .lb-bmi {
    font-size: 9px;
    // margin-top: -18px;
    // position: absolute;
  }

  margin-bottom: -36px;
}

.font-bold {
  font-family: "Segoe UI Semibold";
}

// kendo
.modal-w-600 {
  .modal-dialog {
    .modal-content {
      max-width: 570px;
      width: 570px;

      .modal-header {
        padding: 50px 45px 0px;
      }

      .modal-body {
        padding: 20px 45px;
      }
    }
  }
}

.pain-scale-modal::ng-deep {
  .modal-dialog {
    max-width: 850px;
    width: 850px;
    .modal-content {
      max-width: 850px;
      width: 850px;
    }
  }
}

.modal-process-testlab {
  .modal-dialog {
    max-width: 5530px;
    width: 553px;
    max-height: 460px;
  }
}

.modal-service {
  .modal-body {
    padding: 20px 45px 40px !important;
  }

  .modal-header {
    padding: 40px 45px 0px;
  }
}

/*CUSTOM SCROLL BAR*/

//phong-hk
//list patient
.vscroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.vscroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f1eeed;
}

.vscroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f0633f;
}

//phong-hk
/*END CUSTOM SCROLL BAR*/

/*
  SWAL
*/

.swal2-modal {
  width: max-content !important;
  max-width: 620px !important;
  min-width: 520px !important;
  border-radius: 0px !important;
  padding: 0px !important;
  background-color: #8c1919 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  .swal2-header {
    height: 60px;
    padding-top: 12px;
  }
}

.dialog-error-color {
  background-color: #c00000 !important;
}

.swal2-overlay--show-modal .swal2-modal {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: unset !important;
}

.swal2-icon {
  float: left !important;
  width: 52px !important;
  height: 52px !important;
  // border: 0px solid transparent !important;
  margin: 0px auto 0px !important;
  padding: 0 !important;
  font-weight: normal !important;
  color: transparent !important;
}

.swal2-icon:first-child {
  margin-top: 15px !important;
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}

.swal2-icon img {
  width: 40px !important;
}

.swal2-title:not(:last-child) {
  float: left !important;
  color: white !important;
  font-family: Segoe UI Light !important;
  // PADDING-TOP: 16px !important;
  // padding-left: 10px !important;
  width: calc(100% - 60px) !important;
  // text-align: left !important;
  // margin-bottom: 16px !important;
  font-size: 25px !important;
  font-weight: 400 !important;
  padding: 15px;
  margin-bottom: 0;
  padding-left: 0;
  text-align: left;
  left: 30px !important;
  padding-top: 3px !important;
  // padding-left: 13px !important;
}

.swal2-text {
  width: 100% !important;
  max-width: 100% !important;
  border-top: 2px solid #bababa !important;
  margin: 0 !important;
  padding: 10px !important;
  clear: both !important;
  padding-left: 80px !important;
  color: #000 !important;
  line-height: 20px !important;
  min-height: 80px !important;
}

.swal2-modal {
  .swal2-actions {
    text-align: right;
    margin-top: 0px !important;
    height: 50px;
    width: 100% !important;
    justify-content: flex-end !important;
  }
}

.swal2-footer,
.swal2-actions {
  padding: 0px 16px !important;
  background-color: #8c1919 !important;
  justify-content: flex-end;

  button,
  .swal2-styled {
    border-radius: 0px !important;
    background-color: #8c1919 !important;
    margin-top: 0px !important; // border-left-color: #8c1919 !important;
    margin-right: 25px !important;
    color: #fff !important;
    min-width: 90px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    height: 50px !important;
    margin-bottom: 0px !important;
    &:hover,
    &:active {
      background-color: transparent !important;
    }
  }

  button:active,
  .swal2-styled:active {
    background-color: #d62626 !important;
  }

  // .swal2-styled:focus {
  //   box-shadow: 0 0 0 0px #fff, 0 0 0 1px rgba(43, 114, 165, .29) !important;
  // }
  .swal2-styled:focus {
    box-shadow: 0 0 0 0px #fff, 0 0 0 0px rgba(43, 114, 165, 0.29) !important;
  }
}

.swal2-button {
  border-radius: 0px !important;
  background-color: #8c1919 !important;
}

.swal2-button:active {
  background-color: #d62626 !important;
}

.swal2-button:focus {
  box-shadow: 0 0 0 0px #fff, 0 0 0 1px rgba(43, 114, 165, 0.29) !important;
}

.swal2-modal .swal2-content {
  clear: both !important; // border-top: 2px solid #bababa !important;
  padding: 20px 60px !important;
  color: #000 !important;
  line-height: 20px !important;
  min-height: 120px !important;
  text-align: justify !important;
  font-size: 11pt !important;
  color: #000 !important;
  background-color: white !important;
  text-align: left !important;
}
.swal2-popup .swal2-content {
  z-index: 2 !important;
}

#swal2-content {
  text-align: left !important;
}

.swal2-icon.swal2-info .swal2-x-mark {
  display: none !important;
}

.swal2-icon.swal2-error .swal2-x-mark {
  display: none !important;
}

.swal2-container {
  z-index: 90000 !important ;
}

.swal2-animate-success-icon {
  div,
  span,
  .swal2-success-line-tip,
  .swal2-success-line-long {
    display: none !important;
  }

  .swal2-success-line-tip {
    display: none !important;
  }

  .swal2-success-line-long {
    display: none !important;
  }
}

[class^="swal2-"]:before,
[class*=" swal2-"]:before {
  font-family: "surehisicof" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swal2-icon.swal2-info,
.swal2-icon.swal2-warning,
.swal2-icon.swal2-error,
.swal2-icon.swal2-success,
.swal2-icon.swal2-question {
  font-family: unset !important;
  color: transparent !important;
  border-color: unset !important;
  font-size: 20pt !important;
  line-height: inherit !important;
  left: 0px;
  position: absolute;
  // margin-top: 16px !important;
  // margin-left: 20px !important;
  // font-weight: unset;
}

.swal2-info {
  left: 8px !important;
}

.swal2-info:before {
  // content: "\e0f5" !important;
  color: white !important;
  vertical-align: -13px !important;
  padding-left: 5px;
}

.swal2-error:before {
  // content: "\e0f4" !important;
  color: white !important;
  vertical-align: -13px !important;
}

.swal2-warning {
  left: 8px !important;
}

.swal2-warning:before {
  // content: "\e0f7" !important;
  color: white !important;
  vertical-align: -13px !important;
  padding-left: 5px;
}

.swal2-success:before {
  // content: "\ea47" !important;
  color: white !important;
  vertical-align: -13px !important;
}
.swal2-question {
  left: 18px !important;
}
.swal2-question:before {
  // content: "\e0f6" !important;
  color: white !important;
  vertical-align: -13px !important;
  padding-left: 10px;
}

/* CUSTOM kendo grid */

/*.editorToolbarWindow.k-header.k-window-content a.k-tool, .k-button, .k-colorpicker .k-picker-wrap, .k-combobox .k-select, .k-ct-popup .k-editor-toolbar a.k-tool, .k-dateinput .k-select, .k-datepicker .k-select, .k-datetimepicker .k-select, .k-dropdown .k-dropdown-wrap, .k-editor .k-editor-toolbar-wrap a.k-tool, .k-fieldselector .k-list li.k-item, .k-gantt-views li, .k-handle, .k-list-container .k-nodata .k-button, .k-numerictextbox .k-select, .k-pivot-toolbar .k-button, .k-scheduler-footer li, .k-scheduler-navigation .k-nav-next, .k-scheduler-navigation .k-nav-prev, .k-scheduler-navigation .k-nav-today, .k-scheduler-views li, .k-spreadsheet-filter, .k-switch-handle, .k-timepicker .k-select, .k-toolbar .k-split-button .k-button{
  background-image: linear-gradient(transparent,transparent);
  border-bottom: 1px solid #bdbdbd;
}*/

/*CUSTOM kendo*/

/* END CUSTOM kendo grid */

.DisableItem {
  background-color: #e8e8e8 !important;
  height: 24px;
  width: 100%;
}
.DisableItemLi {
  background-color: #e8e8e8 !important;
  // height: 24px;
  // width: 100%;
}

.Level2 {
  padding-left: 1.5rem;
}

.Level3 {
  padding-left: 3rem;
}

.Level1 {
  background-color: #e8e8e8;
}

.text-desc {
  line-height: 14px;
}

.his-container {
  clear: both;
  top: 74px;
  padding-left: 100px;
}

.his-content-container {
  clear: both;
  top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.mb--1 {
  margin-top: -0.1rem;
}

.mb--2 {
  margin-top: -0.2rem;
}

.mb--3 {
  margin-top: -0.3rem;
}

.k-timepicker .k-select {
  background-color: unset !important; //phonghk- màu timepicker tab2 radt
  background-image: unset !important;
}

// Tien end add
.encounter2 {
  .exam-package {
    padding-top: 0;
  }
  .accordion .card {
    border: none;
  }
  .accordion .card .card-header {
    color: black;
    padding: 10px 0px 0px 0px;
    border-bottom: 2px #bdbdbd solid;
  }
  .exam-pkg {
    .accordion .card {
      border: none;
    }

    .accordion .card .card-header {
      padding: 10px 0px 15px 0px;
      border-bottom: none;
    }
  }

  .accordion .card .card-body {
    padding: 0px;
    padding-top: 1rem;
  }
}

.exam-package {
  padding-top: 37px;
  .accordion .card {
    border: none;
  }
  .accordion .card .card-header {
    color: black;
    padding: 10px 0px 0px 0px;
    border-bottom: 2px #bdbdbd00 solid;
  }

  .exam-pkg {
    .accordion .card {
      border: none;
    }

    .accordion .card .card-header {
      padding: 10px 0px 15px 0px;
      border-bottom: none;
    }
  }
  .accordion .card {
    border: none;
  }

  .accordion .card .card-body {
    padding: 0px;
    padding-top: 1rem;
    font-weight: inherit !important;
  }

  .accordion .card .fa-angle-down {
    float: inherit !important;
  }
  .accordion .card .card-header a {
    color: inherit;
  }

  .accordion .card .card-header a .rotate-icon {
    display: inline !important;
    -webkit-transform: rotate(180deg);
    transform: rotate(0deg);
    margin-top: 5px;
    margin-left: 10px;
    transition: all 500ms ease 0s;
  }

  .accordion .card .card-header a:not(.collapsed) .rotate-icon {
    display: inline !important;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -7px;
    margin-left: 10px;
    transition: all 500ms ease 0s;
  }
}

// .md-form.form-xs input[type=text], .md-form.form-xs input[type=password], .md-form.form-xs input[type=email], .md-form.form-xs input[type=url], .md-form.form-xs input[type=time], .md-form.form-xs input[type=date], .md-form.form-xs input[type=datetime-local], .md-form.form-xs input[type=tel], .md-form.form-xs input[type=number], .md-form.form-xs input[type=search-md], .md-form.form-xs input[type=search], .md-form.form-xs .k-multiselect[type=text], .md-form.form-xs .k-multiselect[type=password], .md-form.form-xs .k-multiselect[type=email], .md-form.form-xs .k-multiselect[type=url], .md-form.form-xs .k-multiselect[type=time], .md-form.form-xs .k-multiselect[type=date], .md-form.form-xs .k-multiselect[type=datetime-local], .md-form.form-xs .k-multiselect[type=tel], .md-form.form-xs .k-multiselect[type=number], .md-form.form-xs .k-multiselect[type=search-md], .md-form.form-xs .k-multiselect[type=search]{
//   height: 24px !important;
// }

.list-handbook {
  .k-grid-edit-row td > .k-textbox {
    border-left: none;
    border-right: none;
    border-top: none;
    width: calc(100%) !important;
  }
}

.search-carousel {
  .carousel-indicators,
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }

  .carousel-multi-item {
    margin-bottom: 0px;
  }
}
.hotkey-popup {
  .modal-dialog {
    max-width: 800px !important;
  }
}

.ps__rail-y {
  width: 8px;
  .ps__thumb-y {
    width: 3px;
    background-color: transparent;
  }
  &:hover,
  &:focus,
  &.ps--clicking {
    .ps__thumb-y {
      background-color: transparent;
      width: 6px;
    }
  }
}

.chat-theme {
  .hide {
    display: none;
  }
}

.tdtrong-cur {
  label {
    border-bottom: none !important;
  }
}
