/*@import "Variables";*/
html {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
  --scrollbarBG: transparent;
  --thumbBG: #666666;
  scrollbar-width: 3px;
  letter-spacing: -0.02rem;
  ::-webkit-scrollbar {
      width: 3px; 
      ::-webkit-scrollbar-thumb {
      background: #FF0000;
      }
  }
}
body::-webkit-scrollbar {
  width: 3px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}



.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
.h5-half,
.h4-half,
.h6-half {
  margin-bottom: 0rem;
  font-family: inherit;
  font-weight: unset;
  line-height: 1.3;
  color: inherit;
}
.h0{
  font-size: 38pt;
}
.h1 {
  font-size: $h1-font-size;
}

.h2 {
  font-size: $h2-font-size;
}

.h3 {
  font-size: $h3-font-size;
}

.h4-half {
  font-size: 15pt !important
}

.h4 {
  font-size: $h4-font-size;
}

.h5-half {
  font-size: 12pt !important
}

.h5 {
  font-size: $h5-font-size;
}

.h6-half {
  font-size: 10pt !important
}

.h6 {
  font-size: $h6-font-size;
}

.h7 {
  font-size: $h7-font-size;
}
.h7-half {
  font-size:  8pt !important
}
.light {
  font-weight: 100;
}

.semilight {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.space-1 {
  padding-top: $r1-top;
}

.space-2 {
  padding-top: $r2-top;
}

.space-3 {
  padding-top: $r3-top;
}

.space-4 {
  padding-top: $r4-top;
}

.space-b-1 {
  padding-bottom: $r1-top;
}

.space-b-2 {
  padding-bottom: $r2-top;
}

.space-b-3 {
  padding-bottom: $r3-top;
}

.space-b-4 {
  padding-bottom: $r4-top;
}

.space-r-1 {
  padding-right: $r1-top;
}

.space-r-2 {
  padding-right: $r2-top;
}

.space-r-3 {
  padding-right: $r3-top;
}

.space-r-4 {
  padding-right: $r4-top;
}

.space-r-5 {
  padding-right: $r5-top;
}

.letter-3 {
  letter-spacing: -0.03em;
}

.clear {
  clear: both;

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.w-100 {
  width: 100%;
}

.max-w-100 {
  max-width: 100px;
}

.max-w-200 {
  max-width: 200px;
}

.filter-info {
  padding-right: 95px;
}

.background-opacity {
  position: relative;
}

.background-opacity:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.scroll {
  .his-hat {
    transform: translateY(-100%);
  }
}

.position-center {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}

.brand-components {
  background-position: -270px -450px
}

.brand-component {
  background-image: none;
  overflow-y: auto;
}

.des-sub {
  margin-top: -10px;
}

.hide-scrollbar {
  position: absolute;
  left: 0;
  top: 0;
  right: -30px;
  bottom: 0;
  padding-right: 15px;
  overflow-y: scroll;
  width: calc(100% + 32px)
}

/*font-size*/
// Tien add-----------------
.font-22 {
  font-size: 22px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-8 {
  font-size: 8px !important;
}

//-------------------
.font-14 {
  font-size: $font-size-sm !important;
}

.font-12 {
  font-size: $font-size-xs !important;
}


/*font-weight*/
.font-weight-light {
  font-weight: 300;
}

/*color*/
.color-B24C50 {
  color: $ColorB24C50 !important;
}

.color-4B0F0A {
  color: $Color4B0F0A !important;
}

.color-C4171B {
  color: #C4171B !important;
}

.color-666666 {
  color: $Color666666 !important;
}

.text-black {
  color: $black !important;
}

.text-red {
  color: $red !important;
}

.text-red-brown {
  color: $red-brown-color !important
}

/*opacity*/
.opacity-4 {
  opacity: 0.4;
}

.opacity-8 {
  opacity: 0.8;
}

/*line-height*/
.lh-1 {
  line-height: 1;
}

/*border*/
.border-2 {
  border: 2px solid $border-color;
}

.border-top-1 {
  border-top: 1px solid $border-color;
}

.border-right-1 {
  border-right: 1px solid $border-color;
}

.border-bottom-1 {
  border-bottom: 1px solid $border-color;
}

.border-left-1 {
  border-left: 1px solid $border-color;
}

/*vertical-align*/
.align-text-super {
  vertical-align: super;
}

.align-text-sub {
  vertical-align: sub;
}

/*table layout*/
.table-fixed {
  table-layout: fixed;
}

.page-wrap {
  min-height: calc(100vh - 134px);
  position: relative;
}

.page-wrap:after {
  content: "";
  display: block;
}

.mb-i--3 {
  margin-top: -0.3rem !important;
}

.mb-i--4 {
  margin-top: -0.4rem !important;
}

[class^="shis-"] {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
}

[class^="shis-"]:before,
[class*=" shis-"]:before {
  line-height: 28px;
}

.nav-header {
  // position: fixed;
  // top: 55px;
  // background-color: #e9e4e0;
  // z-index: 2;
  @extend %TopRibbon;
}

button {
  border-width: 0px;
  padding: 5px 10px;

  .primary {
    background-color: red;
  }
}

.k-button {
  &.k-primary {
    background-color: unset;
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    color: #4e4e4e;
  }

  &.k-time-accept:hover {
    background-color: #d6d5d5;
    color: #4e4e4e;
  }

  &.k-primary:hover {
    background-image: none;
  }
}

.pointer {
  cursor: pointer
}
.show-tb-sm {
  display: none;
}
/*responsive*/
@media screen and (max-width: 1366px) {
  .hidden-md {
    display: none !important;
  }
  // .show-tb-sm {
  //   display: block;
  // }
}

@media screen and (max-width: 1024px) {
  .hidden-sm {
    display: none !important;
  }
  .show-tb-sm {
    display: block;
  }
}

.form-view {

  kendo-grid .k-grid-header,
  .k-grid .k-grid-header {
    display: none;
  }

  kendo-grid.k-widget,
  .k-grid.k-widget {
    border: 0;
  }

  .k-grid-header {
    border: 0px;
  }

  .k-grid tbody {
    display: inline-block;
    width: 960px;
  }

  .k-grid td {
    border: 0;
    height: 69px;
  }

  .k-grid tr {
    display: inline-block;
    border: 1px solid #bfbfbf;
    width: 295px;
    height: 71px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  tr {
    max-height: none;
  }

  .zone-avatar{
    width: 40px;
    vertical-align: middle;
    .avatar{
      margin-right: unset;
    }
    .img{
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }
  .zone-pt-info{
    width:189px;
    vertical-align: middle;
    padding-left: 10px;
  }

}

lv-header-module {
  a {
    color: inherit;
  }

  a:hover {
    color: #4b0f0a;
    opacity: 0.9;
  }

  .role-for-user {
    position: relative; // .owl-theme{

    //   margin-left: 0px;
    // }
    .d-table-cell:nth-child(2) {
      padding-left: 1.8rem;
    }

    .round {
      position: absolute;
      top: 8pt;
      margin-left: -1.2rem;
      cursor: pointer;

      .fa {
        font-size: 20pt;
      }
    }

    .round-left {
      left: 0px;
    }

    .round-right {
      height: 50px;
      width: 50px;
      right: 0;
      background: #e9e4e0;
      top: 0;
      z-index: 5;
      margin: auto;

      i {
        padding-top: 12px;
        padding-left: 20px;
      }
    }
  }
}

.title-header{
  cursor: pointer;
  i{
    position: absolute;
    left: -15px;
    top: 12px;
    cursor: pointer;
  }
}
.img-circle{
  border-radius: 50%;
}
.his-icon-cmnd .nav-item{
  height: 50px;
}
.his-icon-cmnd .nav-item .navbar-brand {
  height: 50px;
  width: 50px;
  margin-right: 0;
  position: relative;
}
.icon-cmd {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.position-relative .btn-icon {
  position: absolute;
  top: 2px;
  right: 0px;
  background: red;
  border: none;
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
  color: #FFF;
}

.rotate-icon{
  transform: rotate(180deg);
}

.rotate-icon-90{
  transform: rotate(90deg);
}