<style>
  @page {
    margin: 0.2in 0.77in 0.39in 0.75in;
  }

  ul.ul-note {
    list-style-type: none;
    /*use padding to move list item from left to right*/
    padding-left: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul.ul-note li {
    margin: 5pt 0;
    text-align: justify;
  }

  ul.ul-note li:before {
    content: "+";
    position: absolute;
    /*change margin to move dash around*/
    margin-left: -1.4em;
  }

  p {
    line-height: 1.5;
  }
</style>
<table cellpadding=1 cellspacing=0 style="border: 0px solid; border-collapse: collapse; ">
  <thead>
    <tr>
      <td rowspan="4" style="border: 1px solid #000; width: 14%;text-align: center;">
        <img src="%icon_logo%" alt="" width="80" height="80" />
      </td>
      <td rowspan="4" style="border: 1px solid #000">
        <p style="font-size: 16pt; text-align: center;"><b>PHIẾU YÊU CẦU</b></p>
        </th>
      <td style="border: 1px solid #000;padding-left: 5px; width: 30%;">Số hiệu %sohieu%</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;padding-left: 5px;">Lần ban hành</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;padding-left: 5px;">Lần sửa đổi</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;padding-left: 5px;">Ngày ban hành 14/06/2020</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">
        <p style="text-align: center;padding-top: 20px;padding-bottom: 10px;"><b><i><u>Kính gửi:</u></i>PHÒNG KẾ HOẠCH
            TỔNG HỢP</b></p>
        <ul>
          <li>
            <p><i>Căn cứ Hợp đồng số: %sohopdong% BVMP giữa Công ty CP Bệnh viện Mỹ Phước và Công ty %congty%</i></p>
          </li>
        </ul>
        <p>Nay P.KHDVKH đề nghị Phòng KHTH&ĐD hỗ trợ P.KHDVKH lên kế hoạch sắp xếp nhân lực và dụng cụ cần thiết để tổ
          chức đoàn khám thực hiện khám sức khỏe định kỳ cho khách hàng theo chi tiết như sau:</p>

        <p>&#10146; Tên khách hàng: <b>%congty%</b></p>
        <p>&#10146; Địa chỉ: %congty%</p>
        <p>&#10146; Hình thức khám: %congty%</p>
        <p>&#10146; Số lượng dự kiến khám: %congty%</p>
        <p>&#10146; Ngày khám: %congty%</p>
        <p>&#10146; Thời gian khám: %congty%</p>
        <p>&#10146; Nội dung: %noidungkham%</p>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <table class="k-table">
          <thead>
            <tr>
              <th><b>STT</b></th>
              <th><b>Danh mục</b></th>
              <th><b>Số lượng</b></th>
            </tr>
          </thead>
          <tbody>
            %table1%
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <p>&nbsp;</p>
        <p><b><i><u>Lưu ý:</u></i></b></p>
        <ul class="ul-note">
          <li>Thái độ phục vụ chu đáo, nhiệt tình; giao tiếp vui vẻ - lịch sự (các câu hỏi tế nhị như lương tháng,
            …hạn chế không đề cập trong thăm khám).</li>
          <li>Bác sĩ có nhiều năm kinh nghiệm; thăm khám ân cần, nhẹ nhàng, tỉ mỉ, lắng nghe và tư vấn các thắc mắc
            của khách hàng.</li>
          <li>Tư vấn sản: khéo léo, nhẹ nhàng và thật cẩn thận khi đặt câu hỏi liên quan đến vấn đề nhạy cảm.</li>
        </ul>
        <p>&nbsp;</p>
        <p><b><i><u>Đề nghị:</u></i></b></p>
        <p>&#10146; <b>Ngày .../.../%nam%, P.KHTH lập đoàn khám tập trung đúng ...h... xuất phát.</b></p>
        <p>&#10146; <b>Ngày .../.../%nam%, các khoa cận lâm sàng trả kết quả cho P.KHDVKH.</b></p>
        <p>&#10146; <b>Ngày .../.../%nam%, P. KHDVKH trả kết quả cho khách hàng.</b></p>
        <p>&#10146; <b><i>Đề nghị <u>Khoa Chẩn đoán hình ảnh</u> khi giao kết quả phải <u>phân loại những kết quả bất
                thường và bình thường</u> để Phòng KHDVKH kịp thời thông báo cho khách hàng có hướng xử lý nhanh
              nhất.</i></b></p>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <table>
          <tr>
            <td style="width: 50%">
              <p style="text-align: center;"><b>P.KHDVKH</b></p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p style="text-align: center;"><b>Nguyễn Thanh Thảo</b></p>
            </td>
            <td>
              <p style="text-align: center;"><b>Người lập</b></p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p style="text-align: center;"><b>%nguoilap%</b></p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>