.md-form {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="time"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="tel"],
  input[type="number"],
  input[type="search-md"],
  input[type="search"],
  textarea.md-textarea {
    // General Styles
    transition: $input-transition;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $border-color;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
    font-size: $input-size;
    margin-bottom: 2px;
    width: 100%;
    height: 18px;
    // Focused input style
    &:focus:not([readonly]) {
      box-shadow: 0 0 0 0 $border-color;
      border-bottom: 1px solid $border-color;

      // Focused label style
      + label {
        color: $black;
      }
    }

    // Form message shared styles
    + label:after {
      content: "";
      position: absolute;
      top: $input-label-after-top;
      display: block;
      opacity: 0;
      transition: $input-label-after-transition;
    }

    // Valid input style
    &.valid,
    &:focus.valid {
      border-bottom: 1px solid $input-success-color;
      box-shadow: 0 1px 0 0 $input-success-color;
    }

    &.valid + label:after,
    &:focus.valid + label:after {
      content: attr(data-success);
      color: $input-success-color;
      opacity: 1;
    }

    // Invalid input style
    &.invalid,
    &:focus.invalid {
      border-bottom: 1px solid $input-error-color;
      box-shadow: 0 0 0 0 $input-error-color;
    }

    &.invalid + label:after,
    &:focus.invalid + label:after {
      content: attr(data-error);
      color: $input-error-color;
      opacity: 1;
    }

    &.form-control.valid + label:after,
    &.form-control:focus.valid + label:after {
      top: $input-label-valid-top;
    }

    &.form-control.invalid + label:after,
    &.form-control:focus.invalid + label:after {
      top: $input-label-invalid-top;
    }

    &.form-control-lg.valid + label:after,
    &.form-control-lg:focus.valid + label:after {
      top: $input-label-valid-top-lg;
    }

    &.form-control-lg.invalid + label:after,
    &.form-control-lg:focus.invalid + label:after {
      top: $input-label-invalid-top-lg;
    }

    &.form-control-sm.valid + label:after,
    &.form-control-sm:focus.valid + label:after {
      top: $input-label-valid-top-sm;
    }

    &.form-control-sm.invalid + label:after,
    &.form-control-sm:focus.invalid + label:after {
      top: $input-label-invalid-top-sm;
    }
  }

  > input[type="date"]:not(.browser-default) + label {
    transform: translateY(-27px) scale(0.8);
    transform-origin: 0 0;
  }

  > input[type]:-webkit-autofill:not(.browser-default):not([type="search"])
    + label,
  > input[type="time"]:not(.browser-default) + label {
    transform: translateY(-25px);
    transform-origin: 0 0;
    font-size: 0.8rem;
  }

  .was-validated {
    input[type="text"] {
      &:valid {
        + label {
          color: $input-success-color !important;
        }
      }

      &:invalid {
        + label {
          color: $input-error-color !important;
        }
      }
    }

    .form-control {
      &:valid:focus {
        box-shadow: 0 1px 0 0 $input-success-color !important;
      }

      &:valid {
        border-color: $input-success-color !important;
      }

      &:invalid:focus {
        box-shadow: 0 1px 0 0 $input-error-color !important;
      }

      &:invalid {
        border-color: $input-error-color !important;
      }
    }
  }

  // Input with label
  .form-control {
    margin: 0 0 $input-form-control-margin-bottom 0;
    border-radius: 0;
    padding: $input-form-control-padding-top 0
      $input-form-control-padding-bottom 0;
    // background-image: none;
    background-color: transparent;
    height: auto;

    &:focus {
      box-shadow: none;
      // background: transparent;
    }

    &:disabled,
    &[readonly] {
      border-bottom: 1px solid transparent;
      background-color: transparent;
      + label {
        transform: translateY(-13px);
        border-bottom: 1px solid $border-color;
        width: 100%;
      }
    }

    &.is-valid {
      border-color: $input-success-color;

      &:focus {
        border-color: $input-success-color !important;
        box-shadow: 0 1px 0 0 $input-success-color !important;
      }
    }

    &.is-invalid {
      border-color: $input-error-color;

      &:focus {
        box-shadow: 0 1px 0 0 $input-error-color !important;
        border-color: $input-error-color !important;
      }
    }

    &.is-valid,
    &.is-invalid {
      background-position: center right !important;
    }
  }
  &.nullvalue {
    .form-control {
      &:disabled,
      &[readonly] {
        + label {
          padding-bottom: unset;
        }
      }
    }
  }
  margin-top: $input-md-form-margin-top;
  margin-bottom: $input-md-form-margin-bottom;
  width: 100%;

  label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: $label-size;
    transition: transform 0.2s ease-out, color 0.2s ease-out;
    transform-origin: 0% 100%;
    transform: translateY(2px);
    cursor: text;
    color: $input-label-color;
    background: transparent;
    line-height: 1.5;
    &.active {
      transform: translateY(-13px);
      font-size: $label-size;
    }
  }

  .prefix {
    position: absolute;
    transition: $input-prefix-transition;

    &.active {
      color: $border-color;
    }
  }

  &.form-lg {
    // fix(validation): resolved problem with alignment of mdb-error and mdb-success components
    mdb-error,
    mdb-success {
      left: 3rem !important;
    }
  }

  &.form-sm {
    // fix(validation): resolved problem with alignment of mdb-error and mdb-success components
    mdb-error,
    mdb-success {
      left: 2rem !important;
    }
  }

  // Textarea
  textarea {
    &.md-textarea {
      overflow-y: hidden;
      padding: $textarea-padding 0;
      // resize: none;
    }

    &.md-textarea-auto {
      padding: 0;
      padding-top: $textarea-padding;
    }

    // Label color for textarea
    /*     ~ label {
      &.active {
        color: $border-color;
      }
    } */
  }

  &.md-outline {
    position: relative;
    margin-top: 0rem;
    margin-bottom: 0rem;

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="time"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="tel"],
    input[type="number"],
    input[type="search-md"],
    input[type="search"],
    textarea.md-textarea {
      // General Styles
      transition: all 0.3s;
      outline: none;
      box-shadow: none;
      border: 1px solid #dadce0;
      border-radius: 4px;
      background-color: transparent;
      box-sizing: border-box;

      // Focused input style
      &:focus:not([readonly]) {
        border-color: $border-color;
        box-shadow: inset 0px 0px 0px 1px $border-color;

        // Focused label style
        + label {
          color: $border-color;
        }
      }

      // Valid input style
      &.valid,
      &:focus.valid {
        border-color: $input-success-color;
        box-shadow: inset 0px 0px 0px 1px $input-success-color;
      }

      &:focus:not([readonly]).valid + label,
      &.valid + label:after,
      &:focus.valid + label:after {
        content: attr(data-success);
        color: $input-success-color;
        opacity: 1;
      }

      // Invalid input style
      &.invalid,
      &:focus.invalid {
        border-color: $input-error-color;
        box-shadow: inset 0px 0px 0px 1px $input-error-color;
      }

      &:focus:not([readonly]).invalid + label,
      &.invalid + label:after,
      &:focus.invalid + label:after {
        content: attr(data-error);
        color: $input-error-color;
        opacity: 1;
      }

      &.form-control.valid + label:after,
      &.form-control:focus.valid + label:after {
        top: 2.75rem;
        left: 0;
        position: absolute;
      }

      &.form-control.invalid + label:after,
      &.form-control:focus.invalid + label:after {
        top: 2.75rem;
        left: 0;
        position: absolute;
      }
    }

    @-webkit-keyframes autofill {
      to {
        color: #495057;
        background: transparent;
      }
    }

    @keyframes autofill {
      to {
        color: #495057;
        background: transparent;
      }
    }

    input:-webkit-autofill {
      -webkit-animation-name: autofill;
      animation-name: autofill;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .form-control {
      padding: 0.375rem 0.75rem;
    }

    label {
      font-size: 1rem !important;
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 10px;
      transition: transform 0.2s ease-out, color 0.2s ease-out;
      transform-origin: 0% 100%;
      transform: translateY(9px);
      cursor: text;
      color:#212121;

      &.active {
        transform: translateY(-13px) scale(0.8);
        background: #fff;
        font-weight: 500;
        padding-right: 5px;
        padding-left: 5px;
        left: 8px;
      }
    }

    &.form-lg {
      .form-control {
        &.form-control-lg {
          padding: 0.5rem 0.725rem;
        }
      }

      label {
        font-size: 1.25rem;
        transform: translateY(10px);

        &.active {
          font-size: 1.1rem;
          transform: translateY(-14px) scale(0.8);
        }
      }

      .prefix {
        top: 0.65rem;
        font-size: 25px;

        ~ input,
        ~ textarea {
          margin-left: 2.2rem;
          width: calc(100% - 2.2rem);
        }

        ~ label {
          margin-left: 2.2rem;
        }

        ~ .form-text {
          margin-left: 2.3rem;
        }
      }
    }

    &.form-sm {
      .form-control {
        &.form-control-sm {
          padding: 0.25rem 0.625rem;
        }
      }

      label {
        font-size: 0.8rem;
        transform: translateY(8px);

        &.active {
          font-size: 0.85rem;
          transform: translateY(-13px) scale(0.8);
        }
      }

      .prefix {
        top: 0.5rem;
        font-size: 15px;

        ~ input,
        ~ textarea {
          margin-left: 1.6rem;
          width: calc(100% - 1.6rem);
        }

        ~ label {
          margin-left: 1.6rem;
        }

        ~ .form-text {
          margin-left: 1.7rem;
        }
      }
    }

    .prefix {
      position: absolute;
      transition: color 0.2s;

      &:focus {
        color: $border-color;
      }
    }

    .prefix {
      top: 0.6rem;
      font-size: 20px;

      ~ input,
      ~ textarea {
        margin-left: 2rem;
        width: calc(100% - 2rem);
      }

      ~ label {
        margin-left: 2rem;
      }

      ~ .form-text {
        margin-left: 2.1rem;
      }
    }

    .character-counter {
      margin-top: -0.5rem;
    }
  }

  &.md-bg {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="time"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="tel"],
    input[type="number"],
    input[type="search-md"],
    input[type="search"],
    textarea.md-textarea {
      &:focus:not([readonly]) {
        box-shadow: none;
        border-bottom: none;
      }

      box-sizing: border-box;
      padding: 10px 5px;
      border: 0;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      background: #f5f5f5 no-repeat;
      background-image: linear-gradient(to bottom, $border-color, $border-color),
        linear-gradient(to bottom, $border-color, $border-color);
      background-size: 0 2px, 100% 1px;
      background-position: 50% 100%, 50% 100%;
      transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

      &:focus {
        background-color: #dcdcdc;
        background-size: 100% 2px, 100% 1px;
        outline: none;
      }
    }

    > input[type="date"]:not(.browser-default) + label {
      transform: translateY(-13px) scale(0.8);
      transform-origin: 0 0;
    }

    > input[type]:-webkit-autofill:not(.browser-default):not([type="search"])
      + label,
    > input[type="time"]:not(.browser-default) + label {
      transform: translateY(-13px) scale(0.8);
      transform-origin: 0 0;
      font-size: 0.8rem;
    }

    .form-control {
      padding: 1.1rem 0.7rem 0.4rem !important;
    }

    label {
      top: 0;
      padding-left: 0.7rem;
      font-size: 1rem;
      transition: transform 0.2s ease-out, color 0.2s ease-out;
      transform-origin: 0% 100%;
      transform: translateY(13px);

      &.active {
        transform: translateY(-3px) scale(0.8);
        font-weight: 500;
        padding-left: 0.75rem;
      }
    }

    &.form-lg {
      label {
        transform: translateY(16px);

        &.active {
          transform: translateY(-4px) scale(0.8);
        }
      }
    }

    &.form-sm {
      label {
        transform: translateY(11px);

        &.active {
          transform: translateY(-2px) scale(0.8);
        }
      }
    }
  }
  .text-danger {
    top: 24px;
    font-size: $label-size;
  }
  .counter-danger {
    box-shadow: none !important;
  }
}
// .md-form label {
//   color: #000;
//   &.active{
//     color: #000;
//   }
// }
.md-form {
  input[type="text"] {
    height: 22px;
  }
}
.accordion {
  .card {
    .card-header {
      padding: 0rem 0rem !important;
      a .rotate-icon:not(.fa-angle-down) {
        display: none !important;
      }
      a .fa-angle-down {
        float: right;
      }
    }
  }
}
.md-accordion .card:first-of-type {
  border-bottom: 0px solid #e0e0e0 !important;
}
// .md-form {
//   input[type='number'],
//   input[type='text']{
//     &.form-control {
//       &:disabled,
//       &[readonly] {
//         +label:not(.active){
//           padding-bottom: unset;
//         }
//       }
//     }
//   }
//   input[type='number'],
//   input[type='text']{
//     &.form-control {
//       &:disabled,
//       &[readonly] {
//         +label.active{
//           padding-bottom: unset;
//         }
//       }
//     }
//   }
// }
.table {
  .d-table-cell {
    display: inline-block !important;
  }
}

.modal-open .modal {
  overflow-y: auto !important;
}
