.disabled,
.cb-disabled {
  opacity: 1;
}
.k-state-disabled,
.k-widget[disabled] {
  opacity: 1;
}

.k-textbox:disabled,
.k-textbox[disabled],
.k-textbox.k-state-disabled {
  opacity: 1;
  + label {
    opacity: 1;
  }
}
.k-textbox {
  color: #000;
}
.md-form {
  margin-bottom: 14pt;
  margin-top: 0pt;
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="time"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="tel"],
  input[type="number"],
  input[type="search-md"],
  input[type="search"],
  textarea.md-textarea {
    border-bottom: 1px solid #bdbdbd;

    &::-moz-selection {
      background: #923931;
      color: #fff;
    }
    &::selection {
      background: #923931;
      color: #fff;
    }
  }
  .form-control {
    margin: 0;
    padding-bottom: 0;
    font-size: 1em;
    color: #000;
  }

  .inputVal {
    bottom: -14px;
    font-size: 7pt;
  }

  label {
    transform: translateY(7px);
    margin-bottom: 0rem;
    color: #000;
    opacity: 0.9;
    &.active {
      color: #000;
      opacity: 1;
    }
  }
}

.k-datepicker,
.k-datetimepicker,
.k-timepicker,
.k-combobox,
.k-maskedtextbox {
  font-size: 1em;
  display: inline !important;
  + label.active {
    transform: translateY(-17px) scale(0.8) !important;
  }

  &.k-widget:not(.k-datepicker) {
    + label.active {
      transform: translateY(-14px) scale(0.8) !important;
    }
  }

  > .k-state-focused,
  .k-state-active {
    box-shadow: unset;
  }

  input[type="text"]:focus:not([readonly]) {
    box-shadow: unset;
  }
}

kendo-datepicker,
kendo-datetimepicker,
kendo-timepicker,
kendo-combobox,
kendo-maskedtextbox {
  &.k-state-disabled {
    opacity: 1 !important;
  }
  + label,
  label {
    opacity: 1 !important;
  }
}

.k-maskedtextbox {
  + label.active {
    transform: translateY(-14px) scale(0.8) !important;
  }
  &.k-state-disabled {
    + label {
      opacity: 1;
    }
  }
}

hs-combobox {
  .k-input {
    padding: 0px;
    height: 38px;
    margin-bottom: -7px;
  }
}

lv-number {
  input:disabled {
    opacity: 1 !important;
    + label {
      opacity: 1 !important;
    }
  }
}

kendo-dateinput {
  .k-input {
    height: 30px;
  }
}
.k-combobox 
{
  display: inline !important;
  .k-dropdown-wrap {
    border-width: 0px;
  }
}

.k-dateinput .k-dateinput-wrap,
.k-dateinput .k-picker-wrap,
.k-datepicker .k-dateinput-wrap,
.k-datepicker .k-picker-wrap,
.k-datetimepicker .k-dateinput-wrap,
.k-datetimepicker .k-picker-wrap,
.k-timepicker .k-dateinput-wrap,
.k-timepicker .k-picker-wrap,
.k-combobox > .k-dropdown-wrap {
  border-radius: 0;
  color: #000;
  border-width: 0px 0 1px 0;
  border-color: #bdbdbd;
}

.k-input {
  padding: 0.6rem 0 0rem 0;
  padding-right: 0px;
  line-height: 1;
  height: calc(1.6em + 8px);
  border-width: 0px !important;
}

kendo-maskedtextbox {
  input.k-textbox {
    padding: 0.6rem 0 0rem 0;
    padding-right: 0px;
    line-height: 1;
    height: 21px;
  }
}
kendo-textbox-container {
  .k-textarea {
    min-height: 40px !important;
    font-size: 1em !important;
    padding-top: 17px !important;
  }

  + label {
    transform: translateY(-1px) !important;
    &.active {
      transform: translateY(-22px) scale(0.8) !important;
    }
  }
}

.k-datepicker .k-select,
.k-timepicker .k-select,
.k-datetimepicker .k-select,
.k-combobox .k-select {
  background-color: transparent;
  background-image: linear-gradient(transparent, transparent);
  .k-icon {
    margin-bottom: -10px;
  }
  .fa {
    margin-bottom: -12px;
  }
}

.k-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-image: unset;
  color: #000;
  box-shadow: unset !important;
  border-width: 0px !important;
  &.k-primary {
    background-image: unset;
    background-color: #cc0000;
    color: #fff;
  }
  i {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.k-grid {
  .k-grid-toolbar {
    .k-button {
      width: unset !important;
      height: unset !important;
      border-radius: unset !important;
    }
  }
  kendo-combobox {
    .k-input {
      padding: 0px 0px 8px 0px !important;
    }
  }

  .k-grid-table {
    td {
      line-height: 1.3 !important;
    }
  }
}

.accordion {
  .card {
    .card-header {
      padding: 0rem 0rem !important;
      a .rotate-icon:not(.fa-angle-down) {
        display: none !important;
      }
      a .fa-angle-down {
        float: right;
      }
    }
  }
}
.md-accordion .card:first-of-type {
  border-bottom: 0px solid #e0e0e0 !important;
}

/****************************************************/
.ant-page-header {
  padding-top: 0 !important;
}
