.shis-t-appt::before{
  content: "\e064";
}

.shis-b-save-00::before{
  content: "\e03c";
}
// .shis-c-folder-02::before{
//   content: "\e085";
// }
// .shis-b-cal::before{
//   content: "\e0a7"
// }
