@import "./../Variables";
input[type="checkbox"] {
  visibility: visible;
  position: absolute;
  left: -9999px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
  + label:not(:empty) {
    padding-left: 25px;
    position: relative;
    &:before {
      left: 0;
      margin-top: 0.25rem;
    }
  }
  + label {
    position: relative;
    display: list-item;
    width: 100%;
    cursor: pointer;
    font-size: $input-size;
    list-style-type: none;
    height: 28px;
    margin-bottom: 0px;

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      margin: 0;
      border: solid 1px; /* Safari */
      border-color: $border-color;
      border-radius: 2px;
      width: 20px;
      height: 20px;
      vertical-align: top;
      transition: 0.2s;
      left: 0;
    }

    &.child-check {
      &::after {
        top: 50%;
        left: 10px;
        width: 14px;
        height: 14px;
        background-color: #c00000;
        border: 0;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        content: " ";
        position: absolute;
      }
    }
  }

  &:focus {
    opacity: 0.12;
    & + label {
      &:before {
        border-color: $input-focus-color;
      }
    }
  }

  &:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;

    + label {
      &::before {
        border-color: rgba(var(--pure-material-primary-rgb, 207, 207, 207), 1);
      }
    }
  }

  &:checked,
  &:indeterminate {
    background-color: rgba(
      var(--pure-material-onprimary-rgb, 207, 207, 207),
      1
    );

    + label {
      &::before {
        width: 10px;
        height: 20px;
        border-color: transparent #c00000 #c00000 transparent;
        border-width: 2px;
        transform: rotate(40deg);
        transform-origin: 100% 100%;
      }
    }
  }

  &:disabled:not(:checked) {
    opacity: 0;
    + label {
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
      transform: translateY(4px);
      cursor: initial;
      &::before {
        border-color: transparent;
        background-color: #bdb3b3;
      }
    }
  }
}
.k-radio:checked + .k-radio-label:before {
  border-color: red;
  background-color: transparent;
}

.k-radio:checked + .k-radio-label:after {
  left: 6.47px;
  background-color: red;
  border: unset;
}

.k-radio:checked + .k-radio-label:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  width: 10px;
  height: 10px;
}
input[type="radio"] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  + label {
    height: 30px;
    line-height: 30px;
    font-size: 10pt;
    padding-left: 30px;
    transition: 0.28s;
    &:empty {
      display: inline;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 22px;
      height: 22px;
      z-index: 0;
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      transition: 0.28s;
    }
  }

  &:checked {
    + label {
      &:empty {
        &::after {
          top: 6.8px;
        }
      }
      &::before {
        width: 22px;
        height: 22px;
      }
      &::after {
        top: 5.8px;
        left: 6.47px;
        background-color: red;
        border: unset;
        -webkit-transform: scale(1);
        transform: scale(1);
        width: 10px;
        height: 10px;
      }
    }
  }

  &:not(:checked) {
    + label:before {
      border-color: #5a5a5a;
      background-color: #fff;
    }
  }
}

.lbChilCheckBox {
  padding-left: 26px;
  transform: translateY(28px) !important;
  line-height: 1.3;
}

lv-checkbox {
  .md-form {
    margin-bottom: 5px;
  }
}
