[type="checkbox"] {
    visibility: visible;
  
    +label {
      font-size: 10pt;
      padding-left: 30px;
  
      &:before {
        border-color: #757575;
        margin-top: .25rem;
      }
  
      &:focus:before {
        border-color: $input-focus-color;
      }
    }
  
    &:focus {
      &+label {
        &:before {
          border-color: $input-focus-color;
        }
      }
    }
  
  
    &:checked+label:before {
      border-color: transparent red red transparent;
    }
  
    &:disabled:not(:checked)+label:before {
      background: none;
      border: 2px solid #bdbdbd;
      margin-left: 0;
      margin-top: .25rem;
    }
  }
  /*Radio*/

[type="radio"]+label:before {
    width: 22px;
    height: 22px;
  }
  
  [type="radio"]:checked+label:before {
    width: 22px;
    height: 22px;
  }
  
  [type="radio"]+label,
  [type="checkbox"]+label {
    height: 30px;
    line-height: 30px;
    font-size: 10pt;
    padding-left: 30px;
  }
  
  
/*Switch*/

.switch label {
    font-size: 13.5px;
    .lever {
      background-color: white;
      border: 1px solid #bdbdbd;
      border-radius: 0;
      @include size(60px,
        30px);
      margin-left: 0;
      margin-right: .25rem;
  
      &:after {
        background-color: #c3a279;
        border-radius: 0;
        box-shadow: none !important;
        @include size(26px,
          24px);
        left: 2px;
        top: 2px;
      }
    }
  
    input[type=checkbox] {
      &:focus+.lever {
        border: 1px solid $input-focus-color;
      }
  
      &:checked+.lever {
        background-color: #ffffff;
  
        &:after {
          background-color: red;
          left: 30px;
        }
      }
  
      &:disabled+.lever {
        border: 1px solid #cfcfcf;
  
        &:after {
          background-color: #f2f2f2;
          border: 1px solid #999999;
        }
      }
  
      // &:read-only+.lever {
      //     border: 1px solid #cfcfcf;
      //     &:after {
      //         background-color: #f2f2f2;
      //         border: 1px solid #999999;
      //     }
      // }
    }
  }
  