@import "./../Variables";
.md-form {
  .group-icon {
    position: absolute;
    top: 3px;
    right: 15px;
    .fa-print {
      top: 1px;
      position: absolute;
    }
  }
}

.k-textbox-container > .k-label,
.k-textbox-container.k-state-focused > .k-label {
  transform: translate(0px, -3px) translate(-1px, -1.0714285714em)
    translate(-12.5%, -9.375%) scale(1);
}

.k-textbox-container > .k-textbox,
.k-textbox-container > .k-textarea,
.k-textbox-container > .k-widget {
  font-size: 12px;
  padding-top: 14px;
  min-height: 34px;

  border: none;
  border-bottom: 1px solid #bfbfbf;
  border-radius: 0;
}

.k-textbox-container > .k-label,
.k-textbox-container.k-state-focused > .k-label {
  transform: translate(0px, -3px) translate(-1px, -1.07142857em) translate(0%)
    scale(1);
}

.k-textbox-container.k-state-focused > .k-label {
  left: 0px !important;
}
.k-textbox-container > .k-label {
  left: 0px !important;
}
