@import "custom-md-bootstrap.scss";
@import "input-checkbox.scss";
@import "input-textbox.scss";
@import "input-button.scss";
@import "input-switch.scss";
button,
input,
select,
textarea {
  font-family: az_ea_font, "Segoe UI", az_font, system-ui, -apple-system,
    BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  border-radius: 0;
}
