* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.noborder {
  border: unset !important;
}
.noborder td {
  border: unset !important;
  padding-top: 2pt;
}

html,
body {
  width: 8.5in;
  height: 11.69in;
  margin: 0;
  background: #fff;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
}

.k-table, .k-table td{
  border: 1px solid #000;
  border-width: 1px 0px 0px 1px;
  margin-left: 0pt;
  padding-top: 3px;
  padding-bottom: 4px;
}
.k-table tr td:last-child{
  border-right-width:1px;
}
.k-table{
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width:0px;
  border-bottom-width:1px;
  padding-bottom: 0px;
}
table {
  width: 100%;
  border-spacing: 0px;
  page-break-inside: auto;
}
table tr{
  page-break-inside: avoid;  
  page-break-after:always
} 
thead {
  display: table-header-group;
}
tfoot {
  display: table-footer-group;
}
#content {
  display: table;
  counter-reset: page 0;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 10px;
  left: 0px;
  right: 0;
  font-size: 8pt;
  border-top: 1px solid #000;
  display: table-footer-group;
  page-break-after: always;
}
.custom-footer-page-number::after {
  counter-increment: page;
  /* content: counter(page); */
}
p {
  margin: 5pt 0;
  line-height: 1.2;
  text-align: justify;
  word-spacing: 2px;
}

ul {
  list-style-type: none;
  /*use padding to move list item from left to right*/
  padding-left: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
}
ul li {
  margin: 5pt 0;
}

ul li:before {
  content: "–";
  position: absolute;
  /*change margin to move dash around*/
  margin-left: -1.4em;
}

ul.dieu-khoan li:first-child {
  margin-left: -1.4em;
}
ul.dieu-khoan li:first-child:before {
  content: "";
  margin-left: -1.4em;
}

ol {
  list-style-type: none;
  counter-reset: item;
  padding-left: 0em;
  margin-top: 0;
  margin-bottom: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin: 5pt 0;
}

ol > li:before {
  content: counters(item, ".") " ";
  display: table-cell;
  padding-right: 1.4em;
}
ol.dieu-khoan-5 {
  counter-reset: item 4;
}
ol.dieu-khoan-6 {
  counter-reset: item 5;
}
ol.dieu-khoan > li:before {
  display: none;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

ol.dieu-khoan ol li ul{
  padding-left: 0;
} 
ol.dieu-khoan ol li ul li::before{
  margin-left: -2.6em;
}
.text-center {
  text-align: center;
}
.alight-top {
  vertical-align: top;
}
.padding-0{
  padding: 0px;
  margin: 0px;
}
/* @page {
  size: 210mm 297mm;
  margin: 12.7mm 12.7mm 10.16mm 20.32mm;
  
} */
@page {
  size: A4;
  margin-top: 12.7mm;
  margin-left: 20.3mm;
  margin-right: 12.7mm;
  margin-bottom: 10.6mm;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  body {
    font-family: "Times New Roman", Times, serif;
    font-size: 14.25pt;
    
  }
  .alight-top {
    vertical-align: top;
  }
  #content {
    display: table;
    counter-reset: page 0;
  }
  #footer {
	position: fixed;
    width: 100%;
    bottom: -0px;
    left: 0px;
    right: 0;
    font-size: 8pt;
    display: table-footer-group;
    color: gray
  }
  #footer p {
	  margin: 2px 0 0 0 !important
  }
  .custom-footer-page-number::after {
    counter-increment: page;
  }
  .upper-case{
    text-transform: uppercase;
  }
  .padding-0{
    padding: 0px !important;
    margin: 0px !important;
  }
  .k-table, .k-table td{
    border: 1px solid #000;
    border-width: 1px 0px 0px 1px;
    margin-left: 0pt;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
	page-break-inside: auto;
  }
  .k-table, .k-table td p{
	  line-height: 1;
  }
  .k-table tr td:last-child{
    border-right-width:1px;
  }
  .k-table{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width:0px;
    border-bottom-width:1px;
  }
  table {
    width: 100%;
    border-spacing: 0px;
    page-break-inside: auto;
  }
  table tr{
    page-break-inside: avoid;  
    page-break-after: always;
  } 
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  table.phap-nhan td{
      padding-top: 0pt !important;
      padding-left: 0px !important;
  }
  table.k-table:nth-child(1).noborder.padding-0 td:nth-child(1){
	  width: 25% !important;
	  font-size: 13pt !important;
  }
  p {
    margin: 4pt 0;
    line-height: 1.2;
    text-align: justify;
    word-spacing: 0px;
    letter-spacing: -0.002em;
    page-break-inside: avoid;
  }

  u {
      text-decoration: none;
      border-bottom: 1px solid #000;
  }

  ul.dieu-khoan {
    list-style-type: none;
    padding-left: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul.dieu-khoan li {
    margin: 4pt 0;
    page-break-inside: avoid;
    text-align: justify;
  -webkit-column-break-inside: avoid;
page-break-inside: avoid;
break-inside: avoid;
  }

  ul.dieu-khoan li:before {
    content: "–";
    position: absolute;
    margin-left: -1.4em;
  }

  ul.dieu-khoan li:first-child {
    margin-left: -1.4em;
  }
  ul.dieu-khoan li:first-child:before {
    content: "";
    margin-left: -1.4em;
  }

  ol {
    list-style-type: none;
    counter-reset: item;
    padding-left: 0em;
    margin-top: 0;
    margin-bottom: 0;
  }

  ol > li {
    display: table;
    counter-increment: item;
    margin: 4pt 0;
    page-break-inside: avoid;
	text-align: justify;
  }

  ol > li:before {
    content: counters(item, ".") " ";
    display: table-cell;
    padding-right: 1.4em;
  }
  ol.dieu-khoan-5 {
    counter-reset: item 4;
  }
  ol.dieu-khoan-6 {
    counter-reset: item 5;
  }
  ol.dieu-khoan > li:before {
    display: none;
  }

  li ol > li {
    margin: 0;
  }

  li ol > li:before {
    content: counters(item, ".") " ";
  }

  .text-center {
    text-align: center;
  }
  .alight-top {
    vertical-align: top;
  }
  .page-break{
    page-break-before: always;
  }
}
