@page {
  size: A4;
  margin: 0 0 26px 0;
}
@media print {
  table {
    page-break-before: auto;
    page-break-inside: auto;
  }
  tr {
    page-break-before: auto;
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
  #pageborder {
    position: fixed;
    left: 18px;
    right: 18px;
    top: 18px;
    bottom: 0px;
    border: 1px solid #373435;
  }

  .bao-gia {
    margin: 18px;
    padding-right: 13px;
    flex-grow: 1;
  }

  .bao-gia p {
    line-height: 1.5 !important;
  }
  .k-table.kham-them td p {
    line-height: 1 !important;;
  }
  .bao-gia #header {
    position: fixed;
    display: table-footer-group;
    width: 100%;
    top: 36px;
  }
  #footer {
    padding-left: 18px;
    border: 0px;
    bottom: 0px;
    page-break-after: always;
  }
  p {
    line-height: 1.5;
    page-break-inside: avoid;
  }

  .thuong-quy.k-table tr:nth-child(1) {
    background-color: #e5b8b7 !important;
  }
  .thuong-quy.k-table tr:nth-child(2) {
    background-color: #e5b8b7 !important;
  }
  .bao-gia ul {
    list-style-type: none;
    padding-left: 120px;
    margin-top: 0;
    margin-bottom: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
  }

  .bao-gia ul li {
    margin: 4pt 0;
    line-height: 1;
    page-break-inside: avoid;
    text-align: justify;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .bao-gia ul li:before {
    content: "–";
    position: absolute;
    margin-left: -1.4em;
  }

  .bao-gia ul li:first-child {
    margin-left: -1.4em;
  }
  .bao-gia ul li:first-child:before {
    content: "";
    margin-left: -1.4em;
  }
}
