@import "./../Variables";
@import "./../Mixins";

/************************************************/
/*                  KENDO GRID                  */
/************************************************/
kendo-grid,
.k-grid {
  &.k-widget {
    border-width: 1px 0px;
  }

  .k-grid-footer-wrap,
  .k-grid-header-wrap {
    border: none;
  }
  .k-group-footer td,
  .k-grouping-row td,
  tbody .k-group-cell {
    background-color: #fdfdfd !important;
  }
  .k-grouping-header,
  .k-grid-add-row {
    display: none !important;
  }

  kendo-grid-toolbar {
    &.k-grid-toolbar {
      color: $black;
      background-color: $white;
      padding: 0px 8px 0px 8px; //phonghk- edit 8px
      border-width: 1px 0px 1px 0px;
      > div {
        height: 40px;
      }

      button {
        padding: 6px 12px;
        border-radius: 0px;
        font-size: 16px;
        font-family: "Segoe UI Light";
        color: $black;
        border-width: 0px;
        background-color: $white;
        background-image: linear-gradient($white, $white);
        border-radius: unset !important;
        width: unset !important;
        height: unset !important;
        &:hover {
          background-color: $hover-color-1;
          background-image: linear-gradient($hover-color, $hover-color);
        }
      }

      .dropdown {
        padding-top: 3px;
        &.open.show {
          button {
            background-color: $hover-color-1;
            background-image: linear-gradient($hover-color, $hover-color);
          }
        }

        .dropdown-menu {
          top: -11px;
        }
      }

      .search-box {
        border-left: 1px solid $border-color;
        padding-left: 20px;
        padding-top: 6px;
      }

      .md-form.have-two-icon {
        padding-right: 23px;

        .md-form.form-xs {
          margin: 0;
          padding-bottom: 0px;
        }
      }

      input[type="text"] {
        width: 250px;
        padding-right: 0px;
      }
    }

    lv-checkbox {
      .md-form {
        margin-top: 8px !important;
        margin-bottom: 0px;
      }
    }

    .dropdown-menu {
      &.k-list-container {
        .k-list-scroller {
          background-color: #fff;
          border-left: 1px solid $border-color;
          border-right: 1px solid $border-color;
          max-height: 250px;
          width: max-content; // phonghk- tránh đổ dòng dropdown filter ngày
          min-width: 250px;

          // [type="radio"]+label,
          // [type="checkbox"]+label {
          //   height: 19px;
          //   line-height: 18px;
          //   padding-bottom: 0;
          //   margin-bottom: 0;
          //   font-size: 13.5px;

          //   &::before {
          //     margin-top: 0rem;
          //   }
          // }

          .button {
            position: fixed;
            bottom: 0px;
            background-color: #841d14;
            color: #fff;
          }
        }
      }
    }
  }

  .k-grid-footer {
    padding: 0px 5px 0px 0px !important;
    background-color: $header-title;

    thead {
      background-color: $header-title;

      tr {
        th {
          font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 16px;
          color: $white;
          padding: 9px 12px;
          border: 0;
        }
      }
    }

    tr {
      th.k-header {
        font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: $white;
        padding: 9px 12px;
        border: 0;
      }
    }
  }

  .k-grid-header {
    padding: 0px 5px 0px 0px !important;
    background-color: $header-title;

    thead {
      background-color: $header-title;

      tr {
        th {
          font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 16px;
          color: $white;
          padding: 9px 12px;
          border-width: 0 0 1px 0px;

          kendo-grid-filter-menu {
            .k-grid-filter {
              color: inherit;
            }
          }
        }
      }
    }

    tr {
      th.k-header {
        font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: $white;
        padding: 9px 12px;
        border-width: 0 0 1px 0px;

        kendo-grid-filter-menu {
          .k-grid-filter {
            color: inherit;
          }
        }
      }
    }
  }

  .k-grid-footer {
    padding: 0px !important;
    background-color: $white;
    border-color: $border-color;

    tfoot {
      border-color: $border-color;

      tr td {
        font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13.5px;
        color: $black;
        padding: 8px 8px;
        border-width: 0 0 0px 0px;
        border-color: $border-color;
      }
    }
  }

  kendo-grid-list {
    .k-grid-table {
      tbody {
        tr {
          &.k-alt {
            background-color: $white;
          }

          &:hover {
            background-color: $hover-color;
          }

          &.k-state-selected {
            background-color: $selected-color;

            & > td {
              // color: #FFF;
              background-color: $selected-color;
            }
          }

          td {
            font-size: 13px;
            color: $black;
            border-width: 0px 0px 1px 0px;
            border-color: $border-color; // lv-checkbox::ng-deep{
            white-space: nowrap;
            padding: 0px 8px;
            line-height: 1.3 !important;
            [class^="shis-"]:before,
            [class*=" shis-"]:before {
              line-height: 23px;
            }

            input[type="checkbox"]:disabled:not(:checked) + label {
              transform: translateY(0px);
              &::before {
                margin-top: 0rem;
              }
            }
            .md-form.form-xs {
              margin-bottom: 0px !important;
              margin-top: 2px !important;
            }
            [type="radio"] + label,
            [type="checkbox"] + label {
              padding-left: 0px;
              height: 20px;
            }

            lv-checkbox {
              .md-form {
                margin-bottom: 0px;
                [type="checkbox"] + label {
                  height: 22px;
                }
              }
            }
          }

          &:first {
            td {
              border-width: 0px;
            }
          }
        }
      }
    }

    .k-virtual-content {
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #f1eeed;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f0633f;
      }
    }
  }

  tbody {
    tr {
      &.k-alt {
        background-color: $white;
      }

      &:hover {
        background-color: $hover-color-1;
      }

      &.k-state-selected {
        background-color: $selected-color-1;
      }

      td {
        font-size: 13.5px;
        color: $black;
        border-width: 0px 0px 1px 0px;
        border-color: $border-color;
        &.k-state-focused {
          box-shadow: inset 0 0 0 1px $border-color;
        }
      }

      &:first {
        td {
          border-width: 0px;
        }
      }
    }
  }
  .k-grid-header .k-link,
  .k-grid .k-grid-header .k-link {
    padding: 0px 5px !important;
  }
}

.k-timepicker {
  .k-picker-wrap {
    border: none;
    border-radius: 0;
    border-color: $border-color;
    input.k-input {
      height: 19px;
    }
  }
}

/************************************************/
/*                 DATE PICKER                  */
/************************************************/
.k-dateinput,
.k-datepicker,
.k-datetimepicker,
.k-timepicker {
  line-height: 1;
  vertical-align: baseline;
}
.k-datepicker {
  width: 100%;

  .k-state-focused {
    box-shadow: unset;
  }

  .k-pickerinput-wrap {
    &.k-state-focused {
      border-bottom: 1px solid $border-color;
      box-shadow: 0 0 0 0 $border-color;

      label {
        color: $label-color;
      }
    }

    &.counter-danger .inputVal {
      visibility: visible !important;
    }
  }

  .k-picker-wrap {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color;
    &.counter-danger {
      .k-picker-wrap {
        border-bottom: 1px solid $red-danger;
      }
    }

    .k-input {
      color: $black;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0rem;
      padding-top: 0px;
      height: 19px;
      margin-top: 2px;
      border-bottom: none;
      font-size: $input-size;
    }

    .k-clear-value {
      margin-top: 0.3rem;
    }

    .k-select {
      background: none !important;
      border-radius: 0;
      color: #656565 !important;

      .fa {
        padding-top: 0.5rem;
      }
    }
  }

  /*Disabled*/
  &.k-widget[disabled],
  &.k-state-disabled {
    filter: unset;
    opacity: 1;

    .k-picker-wrap {
      border-bottom-width: 0px;
    }

    label {
      border-bottom: 1px solid $border-color;
      width: 100%;
      transform: translateY(-15px);
    }

    .k-select {
      opacity: 0;
      display: none;
    }
  }

  &:not(.k-state-disabled) {
    + label {
      &.active {
        transform: translateY(-12px);
      }
    }
  }
}

/************************************************/
/*                   COMBOBOX                   */
/************************************************/
.k-autocomplete,
.k-multiselect {
  border: none;
}

.k-combobox {
  width: 100%;
  line-height: 1;
  font-size: 9.75pt;
  > .component {
    > .k-dropdown-wrap {
      border: none;
      height: 24px;
      .k-input {
        padding-bottom: 0px;
      }
      &.k-state-disabled {
        border-bottom: 1px solid transparent;

        label {
          width: 100%;
          border-bottom: 1px solid $border-color;

          &.full-label {
            overflow: unset;
          }

          &:not(:empty) {
            &.active {
              top: -0rem !important;
              // top: 0.8rem !important;
            }
          }

          &:empty {
            padding-bottom: 0px !important;

            &.active {
              top: 29px !important;

              width: 100% !important;
            }
          }
          &.active {
            transform: translateY(-12px);
          }
        }
      }

      label {
        &:not(:empty) {
          &.active {
            transform: translateY(-13px);
          }
        }
      }

      .k-select .fa {
        padding-left: 2px;
      }
    }
  }
}

// .k-combobox,
.k-autocomplete,
.k-multiselect {
  width: 100%;

  .k-dropdown-wrap,
  .k-multiselect-wrap {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color;

    .k-input {
      color: $black;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0rem;
      height: 1.8rem;
      margin-top: 0rem;
      border-bottom: none !important;
    }

    .k-clear-value {
      margin-top: 0.3rem;
    }

    .k-select {
      background: none !important;
      border-radius: 0;
      color: #656565 !important;

      .fa {
        padding-top: 0.5rem;
      }
    }

    label.active {
      color: $black;
    }

    &.k-state-focused {
      border-bottom: 1px solid $border-color;
      box-shadow: 0 0 0 0 $border-color;

      label {
        color: $black;
      }
    }

    &.counter-danger .inputVal {
      visibility: visible !important;
    }

    &.k-state-disabled {
      border-bottom: 0px solid transparent;
      opacity: 1;

      .k-select {
        opacity: 0;
      }

      label {
        &:not(.active) {
          top: 0.9rem;
          transform: translateY(-140%);
          padding-bottom: 1px;
        }

        padding-bottom: 1px;
        color: $black;
        width: 100%;
        border-bottom: 1px solid $border-color;
        border-color: $border-color;
        opacity: 1;
      }
    }
  }
}

hs-combobox,
lv-icd-combobox,
drug-combobox,
lv-combobox {
  input {
    border: none !important;
    height: 24px;
    &:disabled {
      height: 20px;
    }
  }

  .cb-disabled-empty {
    border-bottom: 1px solid $border-color;

    .k-combobox {
      .k-dropdown-wrap {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $border-color;

        .k-input {
          &::-webkit-input-placeholder {
            color: $black;
            font-size: $h6-font-size;
            opacity: 0.9;
          }

          &::-moz-placeholder {
            color: $black;
            font-size: $h6-font-size;
            opacity: 0.9;
          }

          &:-ms-input-placeholder {
            color: $black;
            font-size: $h6-font-size;
            opacity: 0.9;
          }

          &::placeholder {
            color: $black;
            font-size: $h6-font-size;
            opacity: 0.9;
          }
        }

        .k-clear-value {
          margin-top: 0.3rem;
        }

        .k-select {
          background: none !important;
          border-radius: 0;
          color: #656565 !important;

          .fa {
            padding-top: 0.5rem;
          }
        }

        label.active {
          color: $black;
        }

        &.k-state-focused {
          border-bottom: 1px solid $border-color;
          box-shadow: 0 0 0 0 $border-color;

          label {
            color: $black;
          }
        }

        &.counter-danger .inputVal {
          visibility: visible !important;
        }

        &.k-state-disabled {
          border-bottom: 0px solid transparent;
          opacity: 1;

          .k-select {
            opacity: 0;
          }

          label {
            &:not(.active) {
              top: 0.9rem;
              transform: translateY(-140%);
              padding-bottom: 1px;
            }

            padding-bottom: 1px;
            color: $black;
            width: 100%;
            border-bottom: 1px solid $border-color;
            border-color: $border-color;
            opacity: 1;
          }
        }
      }
    }
  }

  .cb-disabled {
    .k-combobox {
      .k-dropdown-wrap {
        border: none;
        border-bottom: 0px solid $border-color;

        .k-select {
          display: none;
        }
      }
    }

    label:not(:empty) {
      padding-bottom: 3px;
      line-height: 1;
      width: 100%;
      border-bottom: 1px solid $border-color;
      transform: translateY(-7px);
      &.active {
        transform: translateY(-11px);
      }
    }
  }

  .k-item {
    padding: 10px 8px !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13.5px;
    border-bottom: 1px solid $border-color;

    &:hover,
    &.k-state-hover {
      background-color: $hover-color-1;
    }

    &.k-state-selected {
      background-color: $selected-color-1;
    }
  }

  .k-combobox {
    width: 100%;

    .k-dropdown-wrap,
    .k-multiselect-wrap {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $border-color;
      padding-bottom: 0px;
      margin-bottom: 0px;
      .k-input {
        color: $black;
        padding-left: 0;
        padding-right: 0;
        height: 18px !important;
        margin-top: 0rem;
        border-bottom: none !important;
        padding-top: 0px;
        margin-bottom: 2px;
        padding-bottom: 0px;
        margin-top: 4px;
      }

      .k-clear-value {
        margin-top: 0.3rem;
      }

      .k-select {
        background: none !important;
        border-radius: 0;
        color: #656565 !important;

        .fa {
          padding-top: 0rem;
        }
      }

      &.k-state-focused {
        border-bottom: 1px solid $border-color;
        box-shadow: 0 0 0 0 $border-color;

        label {
          color: $label-color;
        }
      }

      &.counter-danger .inputVal {
        visibility: visible !important;
      }

      &.k-state-disabled {
        border-bottom: 0px solid transparent;
        opacity: 1;

        .k-select {
          opacity: 0;
        }

        label {
          &:not(.active) {
            top: 0.9rem;
            transform: translateY(-140%);
            padding-bottom: 1px;
          }

          padding-bottom: 1px;
          color: $label-color;
          width: 100%;
          border-bottom: 1px solid $border-color;
          border-color: $border-color;
          opacity: 1;
        }

        .k-input {
          height: 17px !important;
        }
      }
    }

    + label {
      width: calc(100% - 30px);
      &:hover,
      &:focus {
        width: 100%;
        background: #fff;
      }
      &.active {
        transform: translateY(-13px);
      }
    }

    // .k-state-disabled {
    //   border-top:1px solid $border-color !important;
    // }
  }

  .danger {
    .k-combobox {
      .k-dropdown-wrap {
        border-color: $red-danger;
      }
    }
  }
}
.k-list-container {
  .k-virtual-wrap {
    .k-virtual-content {
      .k-virtual-list {
        .k-virtual-item.k-item {
          border-bottom: 1px solid $border-color;
          &.cb-tcd-li {
            padding-top: 5px !important;
            .Level1 {
              background: none;
            }
          }
          &.k-state-selected {
            background-color: $selected-color-1;

            .text-red {
              color: #fff !important;
            }
          }

          &:hover,
          &.k-state-hover {
            background-color: $hover-color-1;
            color: $black;

            .text-red {
              color: red !important;
            }
          }
        }
      }
    }
  }
}

kendo-popup::ng-deep {
  .his-pop-com {
    kendo-list {
      .k-list {
        .k-item {
          padding: 10px 8px !important;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 13.5px;
          border-bottom: 1px solid $border-color;

          &:hover,
          &.k-state-hover {
            background-color: $hover-color-1;
          }

          &.k-state-selected {
            background-color: $selected-color-1;
          }
        }
      }

      .k-list-scroller {
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
          background-color: #f1eeed;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #f0633f;
        }
      }
    }
  }
}

.k-list-container {
  .k-list-scroller {
    .k-list {
      .k-item {
        padding: 10px 8px !important;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13.5px;
        border-bottom: 1px solid $border-color;

        &:hover,
        &.k-state-hover {
          background-color: $hover-color-1;
        }

        &.k-state-selected {
          background-color: $selected-color-1;
        }
      }
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #f1eeed;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f0633f;
    }
  }
}

lv-inputmask {
  &.k-maskedtextbox {
    width: 100% !important;
    font-size: $input-size;
    line-height: 1;
    .form-control {
      height: 14px !important;
      &:not(:disabled) {
        padding-bottom: 3px;
        margin-top: -2px;
      }
      &:disabled {
        // margin-top: 0px;
        height: 17px;
      }
      + label {
        transform: translateY(-13px);
        color: $label-color;
      }
    }
  }
  .k-maskedtextbox {
    border-bottom: none !important;
    &.k-state-disabled,
    &.k-widget[disabled] {
      opacity: 1 !important;
    }
  }
  .k-textbox:disabled,
  .k-textbox[disabled] {
    opacity: 1 !important;
  }

  &input {
    color: #000;
  }

  &label {
    color: $label-color;
    border-bottom: 1px solid $border-color !important;
  }

  .md-form input[type="text"] {
    color: #000;

    &:disabled {
      + label:not(:empty) {
        padding-bottom: 3px;
        line-height: 1;
        transform: translateY(-14px);
      }
    }

    + label:not(:empty) {
      color: $label-color;
      font-size: $label-size !important;
    }

    .k-multiselect-wrap {
      border: none !important;
      border-radius: 0 !important;
      border-bottom: 1px solid #bdbdbd !important;

      .k-input {
        color: #000 !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0rem;
        height: 1.8rem;
        margin-top: 0rem;
      }

      .k-select {
        background-color: transparent;
        background-image: unset;
      }
    }
  }

  /*Disabled*/
  &.k-widget[disabled],
  &.k-state-disabled {
    filter: unset;
    opacity: 1;

    label {
      border-bottom: 1px solid $border-color !important;
      border-color: $border-color !important;
      width: 100%;
      color: $label-color;
      opacity: 1;
      padding-bottom: 1px;
    }

    .k-select {
      opacity: 0;
    }

    input {
      pointer-events: auto !important;
    }
  }
}

.k-editor-inline {
  border-width: 0px 0px 1px 0px;
  border-color: $border-color;
  padding-bottom: 4px;
  padding-top: 2px !important;
}

.editorToolbarWindow {
  display: none;
}

.k-dateinput-wrap,
.k-dropdown-wrap,
.k-picker-wrap,
.k-multiselect-wrap,
.k-numeric-wrap {
  border-width: 0px;
}
/******************************************************/
/*                   Popup-Combobox                   */
/******************************************************/
// .GridToolbar {

//   [type="radio"]+label,
//   [type="checkbox"]+label {
//     height: 19px;
//     line-height: 10px;
//     padding-left: 20px;

//     &:before {
//       border-color: #757575;
//       margin-top: 0;
//       width: 20px;
//       height: 20px;
//       border: 1px solid #cfcfcf;
//     }
//   }

//   [type="checkbox"]:checked+label:before {
//     @include size(10px, 20px);
//     border-color: transparent red red transparent;
//   }

//   [class^="shis-"]:before,
//   [class*=" shis-"]:before {
//     line-height: 23px;
//   }
// }

.editcheck {
  .k-grid-header .k-header > .k-link > .k-icon.k-i-sort-asc-sm,
  .k-grid-header .k-header > .k-link > .k-icon.k-i-sort-desc-sm {
    vertical-align: middle;
    margin-left: 0px;
    font-size: 12.5pt;
  }

  .k-icon {
    width: 16px;
  }

  // [type="checkbox"][class*="filled-in"]:checked+label:before {
  //   top: -2px;
  //   left: 2px;
  //   width: 8px;
  //   height: 18px;
  //   border-color: transparent red red transparent;
  // }

  // [type="checkbox"][class*="filled-in"]+label:after {
  //   border-radius: 2px;
  //   height: 25px;
  //   width: 25px;
  // }

  // [type="checkbox"][class*="filled-in"]:checked+label:after {
  //   top: 0;
  //   border-color: #bdbdbd;
  //   background-color: #fff !important;
  //   z-index: 0;
  // }

  // [type="checkbox"]+label {
  //   height: 25px;
  //   line-height: 25px;
  //   padding-left: 0px;
  // }

  // [type="checkbox"][class*="filled-in"]+label:after {
  //   border-radius: 2px;
  //   height: 25px;
  //   width: 25px;
  // }

  // [type="checkbox"][class*="filled-in"]:not(:checked)+label:after {
  //   background-color: #fff !important;
  //   border-color: #bdbdbd;
  //   border-width: 0.09375rem;
  // }

  .form-check {
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding-left: 0px;
  }
}

.k-textbox-container.k-state-empty > .k-label {
  left: 1px !important;
}

// .k-textbox-container.k-state-focused>.k-label {
//   left: 9px !important;
// }
// .k-textbox-container.k-state-focused>.k-label {
//   left: 9px !important;
// }

.k-multiselect-wrap .k-button {
  span {
    border-style: none !important;
  }

  .k-select {
    border-style: none !important;
    margin-left: 0.25rem;
  }

  border-radius: 80px !important;
}

// .k-textbox-container.k-state-empty>.k-label {
//   left: 9px !important;
// }

.single {
  .k-calendar.k-calendar-range .k-calendar-view .k-range-end,
  .k-calendar.k-calendar-range .k-calendar-view .k-range-mid,
  .k-calendar.k-calendar-range .k-calendar-view .k-range-start {
    background-image: linear-gradient(
      180deg,
      #fff,
      #fff 2%,
      #fff 0,
      #fff 98%,
      #fff 0,
      #fff
    );
  }

  .modal-content {
    width: 414px !important;
  }

  .modal-body {
    padding: 0px;
  }

  .k-calendar.k-calendar-range.k-calendar-infinite table > tbody {
    width: 334px;
  }

  .k-calendar {
    border: 0;

    &.k-calendar-range.k-calendar-infinite > .k-calendar-view {
      border: 0;
    }
  }

  .k-calendar .k-calendar-monthview .k-link,
  .k-calendar .k-calendar-monthview td,
  .k-calendar .k-month .k-link,
  .k-calendar .k-month td {
    width: 40px;
    height: 40px;
    margin: 1px;
    font-size: 16px;
    font-family: "Segoe UI Light";
  }

  .k-calendar-infinite .k-calendar-monthview,
  .k-calendar-infinite .k-calendar-view {
    padding: 0px;
  }

  .k-state-focused {
    border: 0;
  }

  .k-calendar .k-content th {
    padding: 0px;
    font-size: 16px;
    color: black;
    font-family: "Segoe UI Light";
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 40px;
  }

  .k-calendar .k-content .k-alt {
    opacity: 0.6;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    font-family: "Segoe UI Light";
    font-weight: 400;
    color: black;
    font-size: 16px;
  }

  .k-calendar.k-calendar-range .k-range-end.k-state-active .k-link,
  .k-calendar.k-calendar-range .k-range-start.k-state-active .k-link {
    box-shadow: 0;
  }

  .k-calendar.k-calendar-range {
    padding: 40px;
  }

  .k-calendar-infinite .k-calendar-header {
    color: #c00000;
    padding: 0px;
    width: 254px;
    position: relative;
    left: 40px;
    align-items: center;
    margin: 0px;
  }

  .k-button.k-bare.k-title {
    width: 254px;
    text-align: center;
  }

  .k-calendar.k-calendar-range .k-calendar-view {
    width: 334px;
  }

  kendo-multiviewcalendar {
    .k-button.k-next-view,
    .k-button.k-prev-view {
      position: absolute !important;
      top: 40px;
      font-size: 18pt;
      width: 40px !important;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      z-index: 2;
    }

    .k-button.k-prev-view {
      left: 40px;
    }

    .k-button.k-next-view {
      right: 40px;
    }

    .k-calendar-view.k-calendar-monthview {
      height: 325px !important;
    }

    .k-alt {
      background-color: unset !important;
    }

    .k-range-mid {
      &.k-today {
        color: #f91b00 !important;

        .k-link {
          color: #f91b00 !important;
        }
      }
    }

    .k-state-selected {
      background-color: #f91b00 !important;
      border: 0;

      .k-link {
        background-color: #f91b00 !important;
        color: white !important;
        border: 0;
      }

      &.k-today {
        color: #f91b00 !important;

        .k-link {
          border: 0;
          background-color: #f91b00 !important;
          color: white !important;
        }
      }
    }

    .k-state-focused {
      border: 0 !important;

      .k-link {
        border: 0 !important;
      }
    }
  }

  .k-calendar-infinite .k-calendar-decadeview .k-content .k-link,
  .k-calendar-infinite .k-calendar-yearview .k-content .k-link {
    width: 65px !important;
    height: 40px !important;
    font-size: 16px;
    font-family: "Segoe UI Light";
    font-weight: 400;
    margin: 1px !important;
  }

  .k-calendar .k-content .k-link {
    background-color: #f2f2f2;
  }

  .selectDate {
    background-color: #c00000 !important;
    color: white;
  }
}

.Prescription {
  .k-grid td.k-detail-cell {
    padding: 0 !important;
  }

  .k-plus::before {
    content: "\e015";
  }

  .k-minus::before {
    content: "\e013";
  }

  .k-detail-row {
    padding: 0px;

    .k-grid td {
      padding: 8px 12px;
      border-bottom: 1px solid #bfbfbf !important;
    }

    kendo-grid.k-widget,
    .k-grid.k-widget {
      border: 0;
    }

    .k-grid .k-grid-header {
      display: none;
    }
  }
}

// kendo-textbox-container.k-textbox-container.k-state-focused::ng-deep{
//   >.k-label{
//     transform: translate(0px,-3px) translate(-1px,-1.0714285714em) translate(-12.5%,-9.375%) scale(.75);
//   }
// }
kendo-textbox-container.k-state-empty {
  min-height: 24px !important;
  border-color: #c00000;
}

.k-scheduler-content {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f1eeed;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f0633f;
  }
}

kendo-slider::ng-deep {
  .k-draghandle {
    display: none !important;
  }
}

.k-slider .k-slider-track {
  background-color: #4b0f0a !important;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
  height: 16px !important;
  margin-top: 0px !important;
  top: 0px !important;
}

.k-slider .k-slider-track,
.k-slider .k-slider-selection {
  border-radius: 8px !important;
}

.k-slider .k-slider-selection {
  background-color: #38557a !important;
}

.k-slider-horizontal {
  height: 16px !important;
}

.k-slider-horizontal .k-slider-topleft .k-label {
  top: -1.8em;
}

.k-virtual-content > .k-virtual-list > .k-virtual-item {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  padding: 10px 8px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13.5px;
  border-bottom: 1px solid #bfbfbf;
}
.k-list .k-item.k-state-selected {
  background-color: $selected-color-1;
}
c.k-list .k-item.k-state-selected:hover {
  background-color: $selected-color-1;
}

kendo-treelist {
  thead {
    display: none !important;
  }
  tr {
    border: none !important;
  }
  td {
    padding-left: 0px !important;
    border: none !important;
  }
  .k-grid-header {
    border: none !important;
  }
  [class^="shis-"] {
    display: initial !important;
  }
}

kendo-textbox-container {
  + label.active {
    transform: translateY(-20px) !important;
  }
}

kendo-tooltip {
  background-color: rgba(136, 13, 13, 0.685) !important;
}
