.Clinical {
  .custom-owl-list{
    owl-carousel-child {
      margin: 0px !important;
       }
      /* màu trắng cho slide image*/
       [type="checkbox"] + label:before {
        border-color: #757575;
        margin-top: .25rem;
        background: white;
           }
       /*Màu trắng sau khi check*/
       [type="checkbox"]:checked + label:before {
        border-color: transparent red red transparent;
        background: transparent;
      }

  }
  /*Mẫu mô tả*/
  .ngx-editor-textarea {
    padding:0px !important;
    [type="radio"], [type="checkbox"] {
      position: absolute;
      left: unset !important;
    }
   }
  .image-list {
    margin-top: 220px;
    margin-bottom: 50px;

    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }

    .carousel-item-next,
    .active.carousel-item-right {
      transform: translateX(20%);

      @supports (transform-style: preserve-3d) {
        transform: translate3d(20%, 0, 0);
      }
    }

    .carousel-item-prev,
    .active.carousel-item-left {
      transform: translateX(-20%);

      @supports (transform-style: preserve-3d) {
        transform: translate3d(-20%, 0, 0);
      }
    }

    .carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      transform: translateX(0);

      @supports (transform-style: preserve-3d) {
        transform: translate3d(0, 0, 0);
      }
    }

    .carousel-multi-item {
      margin-bottom: 0;

      .doctor {
        display: block;
        position: relative;
        width: 100%;
        padding-top: 130%;

        .info {
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: rgba(120, 30, 6, 0.5);

          h6,
          p {
            @include text-truncate();
          }
        }
      }
    }
  }

}

// dùng cho các collapse muốn dấu down nhỏ lại
.forColappse {
  .header-title-left:before {
    content: "";
    left: 0;
    font-size: 20px !important;
  }
}

// fix lỗi co màn hình của report
@media only screen and (max-width: 1024) {
  .idtop {
    margin-top: 43px !important;
  }

  // fix size header khi co màn hình
  .fix_size {
    width: 65px !important;
  }
}

//tooltip màu
.toolt {
  .tooltip-inner {
    color: #000;
    background: #fff;
    max-width: 500px !important;
  }
}
