/*@import "../Variables";*/
.coming-soon {
  position: relative;

  .count-down {
    position: absolute;
    top: 200px;
    left: -17%;
    right: 0;
    // padding-left: 91px;
  }
}

.access-denied {
  position: relative;

  .content {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    padding-left: 91px;
  }

  .img-fluid {
    width: 70%;
  }
}
