/*@import "../Variables";*/

.configsys {
  .col-form-label-sm {
    padding-bottom: 0px;
  }

  lv-currency::ng-deep,
  lv-number::ng-deep,
  lv-timepicker::ng-deep {
    .md-form.form-xs {
      margin-bottom: 0px;
    }
  }

  lv-timepicker::ng-deep {
    .md-form.form-xs {
      margin-top: 0px;
    }
  }

  .k-timepicker .k-picker-wrap {
    border-bottom: 1px solid #bfbfbf !important;
  }

  .menuleft {
    .ps__thumb-y {
      left: 10px;
    }
  }

  .nav-configsys {
    @extend %TopRibbon;
  }

  .accordion .card .fa-angle-down {
    float: none !important;
  }

  .accordion .card .card-header {
    color: #000;
    padding: 0 0 0 30px;
  }

  .accordion .card .card-header>a>h5 {
    font-size: 12pt;
  }

  .accordion .card .card-body {
    padding-left: 35px;
    line-height: 1;
  }

  .no-scrollbar {
    .k-grid-header {
      padding: 0px 0px 0px 0px;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }

  .section {
    position: relative;
    top: 60px;

    .left-sidebar {
      // position: fixed;
      border-right: 1px solid #bdbdbd;

      .txt-search .form-control {
        border-bottom: none;
      }

      ul li {
        border-top: 1px solid #bdbdbd;

        &.active {
          border-right: 4px solid #FF0000;
          color: $red;

          p {
            opacity: 1;
          }
        }

        a {
          display: block;
          padding: 1rem;
        }
      }
    }

    .main {

      padding-right: 50px;

      .cus-mt-mb-0 {
        .md-form.form-xs input[type=text] {
          margin-top: 0px;
          margin-bottom: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
        }

        .md-form.form-xs {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }

      .header-title {
        @include HeaderTitle('right', 'false', '\f107', 'false')
      }

      .pl-after-checkbox {
        padding-left: 45px;
      }

      [type="checkbox"]+label {
        margin-bottom: 0;
      }

      .md-form.form-xs input[type=number] {
        height: 20px;
        margin-top: 0px;
        padding-top: 0px;
      }

      .head-2 {
        font-size: 1.1rem;
      }

      .erp-title-2 {
        font-weight: 500;
        font-size: 1rem;
      }

      .header-title {
        font-size: 16pt;
        //  font-weight: 400 !important;
        position: relative;
        padding-right: 2rem;
        letter-spacing: -0.05em;
      }
    }
  }
}
