.diagnostic-template {
  /*.header-title {
    padding-left: 0 !important;
    background-color: #00000029;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
    padding-bottom: 5px;
    @include HeaderTitle('left', 'false', '\f107', 'false')
  }*/

  .header-title {
    @include HeaderTitle("right", "false", "\f107", "false");
  }
}

.list-diagnostic {
  .k-grid-header {
    padding-right: 5px !important;
  }

  .k-grid {
    [type="checkbox"]:disabled:not(:checked) + label:before {
      // disable
      background: none;
      border: 2px solid #bdbdbd;
      margin-left: 0;
      margin-top: 0.25rem;
      background-color: #bdb3b3;
    }

    td {
      // padding: 8px 8px;
      // padding-bottom: 2px;
      //   max-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    /*   [type="checkbox"]+label {
          height: 10px;
        }
        [type="checkbox"]+label:before {
          width: 18px;
          height: 18px;
          margin-top: 0rem;
        }
        [type="checkbox"]:checked+label:before {
          width: 10px;
          height: 18px;
        }*/
  }

  .k-grid-edit-row td .k-combobox {
    margin-top: -2px;
  }

  .k-grid-edit-row td .k-input.k-textbox {
    margin-top: 6px;
  }

  .k-grid-edit-row {
    .k-edit-cell {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
  }

  .kgr-bar {
    .k-grid-header {
      padding: 0px 0px 0px 0px !important;
    }
  }
}

.k-treeview::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.tree-custom {
  .k-treeview .k-in:hover,
  .k-treeview .k-in.k-state-hover {
    background-color: transparent !important;
  }
}

.tree-custom-notcheck {
  .k-treeview .k-in:hover,
  .k-treeview .k-in.k-state-hover {
    background-color: transparent !important;
  }
}

.k-treeview::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f1eeed;
}

.k-treeview::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f0633f;
}

.kendo-list-custom {
  .k-list-scroller {
    li {
      border-bottom: 1px solid;
    }
  }
}

.Lel1 {
  padding-left: 0rem;
}

.Lel2 {
  padding-left: 0.78rem;
}

.Lel3 {
  padding-left: 2.3rem;
}

.Lel4 {
  padding-left: 3.82rem;
}

.Lel4 {
  padding-left: 5.32rem;
}

.hide-scroll-br {
  .k-treeview::-webkit-scrollbar {
    display: none;
  }
}

.ts {
  .modal-dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    margin-right: 69px !important;
    margin-top: 70px !important;
  }
}

.ts-size {
  .modal-dialog {
    max-width: 564px !important;
  }
}

.ts-size-ed {
  .modal-dialog {
    max-width: 800px !important;
    top: -32px;
  }
}

.ts-top-mt {
  .modal-dialog {
    margin-top: 204px !important;
    max-width: 564px !important;
  }
}

.ts-view-modal {
  .modal-dialog {
    margin-right: 18px !important;
    margin-top: 18px !important;
    max-width: 654px;
  }
}

.ts-view-reex {
  .modal-dialog {
    top: 15px;
    max-width: 560px;
  }
}

.ts-img {
  .modal-dialog {
    max-width: 516px;
  }
}

// modal cho calendar
.ts-modalof-calendar {
  .modal-dialog {
    width: 426px;
    top: 15px;

    .k-calendar-monthview .k-content .k-link,
    .k-calendar-monthview .k-content td,
    .k-calendar-view .k-content .k-link,
    .k-calendar-view .k-content td {
      border-radius: unset !important;
    }
  }
}
.layout-panel {
  .k-panelbar > .k-item {
    border-style: none;
  }

  .k-panelbar .k-panelbar-collapse,
  .k-panelbar .k-panelbar-expand {
    margin-right: auto;
    left: 0px;
    width: 32px;
    text-align: center;
  }

  .k-panelbar .k-group > .k-item > .k-link,
  .k-panelbar > .k-item > .k-link {
    padding: 8px 0px 8px 0px;
    color: black;
  }

  .k-panel.k-group {
    color: black;
    background-color: #fff;

    kendo-panelbar-item {
      .k-icon {
        margin-left: 8px;
      }
    }
  }

  .k-panelbar .k-group > .k-item > .k-link.k-state-selected,
  .k-panelbar > .k-item > .k-link.k-state-selected {
    color: #fff;
    background-color: #c00000;
    border-color: #bfbfbf;
  }

  .k-link:hover {
    background-color: #f0eedf !important;
    color: black !important;

    .k-icon {
      color: black !important;
    }
  }

  .k-link {
    border-bottom: 1px solid #bfbfbf;
    font-size: 11pt;
  }

  .k-widget {
    border: 0;
    border-bottom: 0;
    border-bottom-width: 0;
    border-bottom-color: #fff;
  }
}

.ts-radt {
  .modal-dialog {
    width: 560px;
    max-width: 560px !important;

    .header-title-left:before,
    .header-title-left:after {
      bottom: unset !important;
    }
  }
}

.ts-modal-icd10 {
  .modal-dialog {
    width: 614px;
    max-width: 614px !important;
    top: 50px;
  }
}

.custom-caro {
  /* ẩn thanh carosel*/
  .carousel-indicators {
    display: none;
  }

  /*ẩn thanh trái*/
  .carousel-control-prev-icon {
    display: none;
  }

  /*ẩn thanh phải*/
  .carousel-control-next-icon {
    display: none;
  }
}

.modal-forwardrx {
  .modal-dialog {
    max-width: 550px !important;
  }
}

.modal-aidrug {
  .modal-dialog {
    max-width: 550px !important;
  }
}

.modal-quest-cli {
  .modal-dialog {
    max-width: 573px !important;
  }
}

.modal-dr-advice {
  .modal-dialog {
    max-height: 550px !important;
  }
}

.modal-drug {
  .modal-dialog {
    max-width: 1300px !important;
  }
}
.modal-scan-patient {
  .modal-dialog {
    max-width: 920px !important;
    top: 72px !important;
  }
}
.modal-bbo1 .modal-dialog {
  max-width: 1020px !important;
}
.modal-bbo2 .modal-dialog {
  max-width: 1220px !important;
}

.max-900 {
  max-width: 900px !important;
}

.modal-process-ts {
  .modal-dialog {
    max-width: 716px !important;
    width: 716px;
  }
}
.modal-resource-s {
  .modal-dialog {
    max-width: 1000px !important;
    width: 1000px;
  }
}

/* màu active row*/
.selectDate {
  background-color: #c00000 !important;
  color: white;
}

/*màu đỏ của nút*/
.color-button {
  background-color: #841d14 !important;
  color: white;
}
.modal-dialog {
  //Phong sửa
  top: 45px;
}
