// [type="checkbox"]:disabled:checked+label:before {
//   border-color: transparent red red transparent !important;
// }

.ser-fee-detail {

  .k-grouping-header {
    display: none;
  }

  .k-grid-header {
    background-color: #fff;
  }

  kendo-grid.k-widget,
  .k-grid.k-widget {
    border-top: 0;
  }

  kendo-grid .k-grid-header thead,
  .k-grid .k-grid-header thead {
    background-color: #fff;
  }

  kendo-grid .k-grid-header tr th.k-header,
  .k-grid .k-grid-header tr th.k-header {
    color: #000 !important;
  }

  .k-grid .k-grouping-row {
    background: none !important;
  }

  .k-grouping-row td {
    background-color: #fff;
  }

  kendo-grid tbody tr td,
  .k-grid tbody tr td {
    // border-top: none;
    border-color: #e9ecef !important;

    a.k-grid-remove-command {
      background-color: #fff;
      padding-top: 10px;
    }
  }

  .k-grid .k-grouping-row .k-group-cell,
  .k-grid .k-grouping-row+tr .k-group-cell {
    border-top-width: 1px;
    background-color: #fff;
  }

  .k-i-arrow-60-down:before,
  .k-i-arrow-s:before,
  .k-i-collapse:before,
  .k-i-expand-s:before,
  .k-i-kpi-trend-decrease:before,
  .k-i-sarrow-s:before {
    content: "\f106" !important;
    font: normal normal normal 14px/1 FontAwesome;
  }

  .k-i-arrow-60-right:before,
  .k-i-arrow-e:before,
  .k-i-expand-e:before,
  .k-i-expand:before,
  .k-i-sarrow-e:before {
    content: "\f107" !important;
    font: normal normal normal 14px/1 FontAwesome;
  }

  .k-group-footer td {
    background: none;
  }
}

.header-title {
  @include HeaderTitle('right', 'false', '\f107', 'false');
  font-size: 16pt;
  position: relative;
  padding-right: 2rem;
}

.advance-grid {
  clear: both;

  .grid-content {

    kendo-grid .k-grid-header,
    .k-grid .k-grid-header {
      border: 0;
      border-color: #ffffff
    }

    .k-grid th:first-child,
    .k-grid td:first-child {
      border: 0;
      background-color: #ffffff;
    }

    kendo-grid.k-widget,
    .k-grid.k-widget {
      border: 0;
    }

    kendo-grid kendo-grid-toolbar.k-grid-toolbar,
    .k-grid kendo-grid-toolbar.k-grid-toolbar {
      margin-left: 20px;
    }

    .k-grid-norecords {
      td {
        padding-left: 15px !important;
      }

    }
  }
}

.rxlistdrug {
  .k-grid .k-hierarchy-cell .k-icon {
    display: none !important;
  }
}

.k-event {
  background-color: #ff6358;
  color: #fff;
}

.popover {
  max-width: 400px !important;
}


.popover>.popover-header {
  font-weight: 600 !important;
}
