.encounter2 {
  .section {
    .header-title {
      @include HeaderTitle('right', 'false', '\f107', 'false')
    }
    .collapse.show {
      height: auto !important;
    }
  }
  .header-title {
    @include HeaderTitle('right', 'false', '\f107', 'false')
  }
  .collapse.show {
    height: auto !important;
  }
  .checksmall {
    // phonghk
    /* checkbox aspect */
    [type="checkbox"]:not(:checked)+label:before,
    [type="checkbox"]:checked+label:before {
      content: '';
      position: absolute !important;
      left: 10px;
      top: 3px;
      width: 13px !important;
      height: 13px !important;
      border: 1px solid red;
      background: #fff;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
      transform: rotate(0deg);
    }
    [type="checkbox"]:not(:checked)+label:after,
    [type="checkbox"]:checked+label:after {
      content: '✔';
      position: absolute;
      top: 5px;
      left: 12px;
      font-size: 1em;
      line-height: 0.8;
      color: red;
      transition: all .2s;
      transform: rotate(0deg);
    }
    [type="checkbox"]:not(:checked)+label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked+label:after {
      opacity: 1;
      transform: scale(1);
    }
    [type="checkbox"]:disabled:not(:checked)+label:before,
    [type="checkbox"]:disabled:checked+label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked+label:after {
      color: #999;
    }
    [type="checkbox"]:disabled+label {
      color: #aaa;
    }
    [type="checkbox"]:checked:focus+label:before,
    [type="checkbox"]:not(:checked):focus+label:before {
      border: 1px solid red;
    }
    label:hover:before {
      border: 1px solid red !important;
    }
  }
  .form-control-examination {
    //phonghk
    @include size(200px, 15px);
    border: none;
    border-bottom: 1px dashed red;
    font-size: .875rem;
  }
  .iconSmall {
    .shis-b-cal:before {
      content: "\e03f";
      font-size: 28px !important;
    }
  }
  .forlist {
    .k-grid td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .box-drug-msub {
    .k-grid-add-command {
      background: none;
      border: none;
      margin-top: 0.5rem;
    }
    .k-grid-header.ng-star-inserted {
      background: none !important;
    }
    .k-grid-header thead {
      background: none;
    }
    .k-header.ng-star-inserted {
      color: black;
    }
    .k-grid-header-wrap {
      border-right: none;
      border-top: none;
    }
    .k-widget.k-grid {
      border: none !important;
    }
    .k-grid td {
      padding: 0;
    }
    .k-grid tr {
      height: 40px;
    }
    .k-grid kendo-grid-list .k-grid-table tbody tr td {
      border-color: #EBEBEB;
    }
    .forlist {
      .k-grid td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .k-widget.k-grid {
        border: none !important;
      }
      .k-grid td {
        padding: 0;
      }
      
      .k-grid tr {
        height: 40px;
      }
      .k-grid kendo-grid-list .k-grid-table tbody tr td {
        border-color: #EBEBEB;
      }
    }
    .k-grid-remove-command {
      background: none;
      border: none;
    }

    .k-grid td:nth-child(2) {
      padding: 0 10px 0 10px !important;
    }

    .k-grid td:nth-child(3) {
      text-align: center;
    }

    a.k-grid-add-command{
      margin-left: 8px;
    }
  }
  .exam-pkg{
    .exam-pkg_checkbox{
      width: 30px;
    }
  }
}
.modal-aidrug{
  .modal-dialog{
    max-width: 550px !important;
  }
}

.drugname-ellipse{
  overflow: hidden; 
  text-overflow: ellipsis;
}
.bd-right{
  border-right: 1px solid #00000040;
}

.header-tmp{
  background-color: #795547;
  color: white;
}
.header-tmp-2{
  position: absolute;
  right: 0;
}

