/*@import "../Variables";*/

.encounter {
  label.ttiptext {
    @include tooltip(100%);
  }

  .card-enc {
    .accordion .card .card-body {
      color: black !important;
    }
  }

  .button-cursor {
    cursor: pointer;
  }

  .text-size-13 {
    font-size: 0.9em !important;
  }

  .k-grid-edit-row td .k-combobox {
    margin-top: -2px;
  }

  .k-grid-edit-row td .k-input.k-textbox {
    margin-top: 6px;
  }

  .k-grid td.k-state-focused,
  .k-grid th.k-state-focused {
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, .13);
  }

  .grid-enc {
    .k-grid td {
      border-bottom: 1px solid #D8D8D8;
      vertical-align: top;
      padding-left: 0px;
      padding-right: 0px;
      font-weight: 400;
      font-size: 9pt;
      padding-bottom: 1.9px;
      padding-top: 1.9px;
      vertical-align: middle;
    }

    .k-grid .k-grid-header th {
      padding-left: 0px;
      padding-right: 0px;
      line-height: 30px;
    }
  }

  .DILevel {
    color: red;
    font-size: 15pt;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 1.7rem !important;
    border-bottom: 1px solid;
  }

  .label-for-check {
    padding-bottom: 1.1rem;
  }

  .dia-img {
    .k-grid-header {
      padding: 0px 0px 0px 0px !important;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }

  .input-mb-0 {
    .md-form.form-xs {
      margin-bottom: 0px;
    }
  }

  .consul {
    .md-form {
      &.form-xs {
        margin-top: .4rem;
        margin-bottom: .7rem;

        // label {
        //   font-size: 0.9rem;
        //   top: .35rem;
        //   @include text-truncate();

        //   &.active {
        //     display: none;
        //     font-size: .7rem;
        //     top: .8rem;
        //   }
        // }
      }
    }
  }

  .cus-mt-mb-0 {
    .md-form.form-xs input[type=text] {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .md-form.form-xs {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .nav-encounter {
    @extend %TopRibbon;
  }

  .left-sidebar {
    @extend %LeftSideBar;
  }

  .section {
    padding: 1rem calc(300px + 3rem) 1rem calc(100px + 3rem);

    &.hide-right-sidebar,
    &.show-search-medicine {
      padding-right: 3rem;

      .info-patient {
        padding-right: 300px;
        position: relative;

        .title-right-sidebar,
        .search-medicine {
          position: fixed;
          padding-left: 3rem;
          width: 300px;
          z-index: 1;
        }
      }
    }

    .info-patient .avatar {
      width: 50px;

      &.less-info {
        width: 50px;

        .img {
          border-radius: 100%;
          height: 50px;
        }
      }
    }
  }

  .menu-tab {
    border-bottom: 1px solid #bdbdbd;

    >li {
      display: inline-block;
      padding: 10px 20px 5px;
      text-align: center;

      a {
        font-size: $h6-font-size;
      }

      &.active {
        border-bottom: 2px solid $red;

        a {
          color: $red;

          font: {
            size: $h5-font-size;
            weight: bold;
          }
        }
      }
    }
  }

  .content {
    padding: 1rem 0;

    .header-title {
      @include HeaderTitle('right', 'false', '\f107', 'false');

      &.header-title-sm {
        font-size: $h6-font-size;
        padding-right: 1rem;

        &:before,
        &:after {
          bottom: -2px;
          font-size: $font-size-sm;
        }
      }
    }

    [type="checkbox"] {
      &:checked+label.custom-checkbox-examination:after {
        @include size(8px, 14px);
        top: -2px;
        right: 1rem;
      }

      +label.custom-checkbox-examination {
        color: $text-muted;
        padding-left: 0;
        padding-right: 1.75rem;
        font-size: 0.875rem;
        font-weight: normal;
        margin-bottom: 0;
        height: 1.2rem;
        line-height: 1.2rem;

        &:after {
          @include size(14px);
          border-width: 1px;
          margin-top: .15rem;
          left: auto;
          right: .5rem;
        }

        &:not(:last-child) {
          border-right: 1px solid #bdbdbd;
        }
      }
    }

    .form-control-examination {
      @include size(200px, 15px);
      border: none;
      border-bottom: 1px dashed red;
      font-size: .875rem;
    }

    .space-for-search-medicine {
      width: 300px;
    }
  }

  .right-sidebar {
    position: fixed;
    z-index: 1;
    padding: 1rem 3rem 1rem 0;
    right: 0;
    width: 300px;

    &.hidden {
      visibility: hidden;
    }

    .accordion .card {
      border-bottom: 0;

      .card-header {
        border-bottom: 1px solid #bdbdbd;
        color: $black;
        padding: 1rem 1rem .5rem;
      }

      .fa {
        padding: 0;
      }

      .card-body {
        padding: 0;
      }
    }

    // .table.in-progress tr:first-child td:first-child {
    //   border-left: 3px solid #bdbdbd;
    // }
    .button-cursor {
      cursor: pointer;
    }

    .in-progress-child {
      border-left: 3px solid #bdbdbd;
    }
  }

  // input[type=text][readonly], 
  // input[type=text][readonly="readonly"], 
  // input[type=password][readonly], 
  // input[type=password][readonly="readonly"], 
  // input[type=email][readonly], 
  // input[type=email][readonly="readonly"], 
  // input[type=url][readonly], 
  // input[type=url][readonly="readonly"], 
  // input[type=time][readonly], 
  // input[type=time][readonly="readonly"], 
  // input[type=date][readonly], 
  // input[type=date][readonly="readonly"], 
  // input[type=datetime-local][readonly], 
  // input[type=datetime-local][readonly="readonly"], 
  // input[type=tel][readonly], 
  // input[type=tel][readonly="readonly"], 
  // input[type=number][readonly], 
  // input[type=number][readonly="readonly"], 
  // input[type=search-md][readonly], 
  // input[type=search-md][readonly="readonly"], 
  // input[type=search][readonly], 
  // input[type=search][readonly="readonly"], 
  // textarea.md-textarea[readonly], 
  // textarea.md-textarea[readonly="readonly"]{
  //   border-bottom:0px;
  //   color:#000;
  //   &+label{
  //     border-bottom: 1px solid #bdbdbd;
  //     width: 100%;
  //     font-size: .7rem;
  //     top: -0.70rem;
  //   }
  // }
}

.srollcolage {
  height: 200px;

  ::-webkit-scrollbar {
    overflow: auto;
  }
}

.modal-encounter {
  .header-title {
    @include HeaderTitle('right', 'false', '\f107', 'false')
  }
}

.listoutPatient {
  &.grid-enc {
    padding-right: 2.875rem;
  }

  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.41);
  }

  [type="checkbox"]+label {
    height: 16px !important;
    line-height: 16px !important;
    font-size: 0.575rem !important;
    margin-bottom: 0px !important;
    padding-left: 30px !important;
    margin-top: unset !important;
  }

  //phonghk
  .dropdown .dropdown-menu {
    -webkit-transform: translate3d(0px, 31px, 0px);
    transform: translate3d(0px, 31px, 0px);
  }
}

textarea.md-textarea {
  overflow-y: hidden;
  padding: 0rem !important;
  resize: vertical;
  min-height: inherit !important;
}

.slider {
  position: relative;
  width: 100%;
}

.k-editor {
  font-size: 1rem;
  color: black;
}

output {
  position: absolute;
  color: red;
}

// stype chủng ngừa
.settype {
  md-form {
    padding-top: 0px !important;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;

    .form-xs {
      padding-top: 0px !important;
      margin-top: 0rem !important;
      margin-bottom: 0rem !important;
    }
  }

  label {
    margin-bottom: .25rem !important;
  }
}

.k-grid-content {
  overflow-y: auto !important;
}
