@import "./../Variables";
@import "./../Mixins";

%page-padding {
  padding: 0px 15px 0px 15px !important;
}

%links-margin {
  margin: 0rem 1.875rem 0rem 1.875rem !important;
}

%gen-margin {
  margin: 0rem 2.875rem 0rem 2.875rem !important;
}

// %webkit-scrollbar {
//   ::-webkit-scrollbar {
//     display: none;
//   }
// }
%check-edit {
  label {
    margin-bottom: 0rem !important;
  }

  [type="checkbox"] + label {
    height: 0.875rem !important;
    line-height: 0.875rem !important;
    font-size: 0.875rem;
    padding-left: 0rem !important;
  }

  [type="checkbox"] + label:before {
    margin: 0rem !important;
    padding: 0rem !important;
    height: 0.875rem !important;
    line-height: 1rem !important;
  }

  [type="checkbox"]:checked + label:before {
    width: 8px;
    height: 14px;
  }

  .lbChilCheckBox {
    margin: 0 !important;
    padding: 0rem !important;
  }
}

%check-edit-detail {
  [type="checkbox"] + label:before {
    border: 1.2px solid #8a8a8a !important;
  }

  [type="checkbox"]:checked + label:before {
    border-color: transparent red red transparent !important;
  }
}

%combobox-edit {
  .k-combobox .k-dropdown-wrap .k-input {
    font-size: 0.75rem !important;
    padding-bottom: 0rem !important;
    height: 1.5rem !important;
    margin-top: 0rem !important;
    font-weight: 400 !important;
  }

  .k-combobox .k-dropdown-wrap {
    border-bottom: none !important;
    font-size: 0.75rem !important;
    font-weight: 400 !important;
  }
}

.FeeManagement {
  .button-status .exam-pkg_checkbox {
    max-width: 33px;
    margin: 1px auto;

    input[type="checkbox"] {
      &:checked + label {
        &:not(.active):empty {
          top: 10px !important;
          border-bottom: 0 !important;
        }
      }
      & + label {
        &:not(.active):empty {
          top: 0px !important;
        }
      }
    }
  }

  .list-unstyled.left-sidebar.bg-white.mb-0 {
    bottom: 0;
  }

  .fa {
    font-size: 24px !important;
  }

  .nav-patient-info {
    top: 157px;
    max-width: calc(100% - 98px);
  }

  .genneralmr {
    @extend %gen-margin;
  }

  .header-title-notIcon {
    @include HeaderTitle("right", "false", "", "false");
  }

  .header-title {
    @include HeaderTitle("right", "false", "\f107", "false");

    &.header-title-sm {
      @include HeaderTitle("right", "false", "\f107", "false");
      font-size: $h6-font-size;
      font-weight: bold;
      padding-right: 1rem;

      &:before,
      &:after {
        bottom: -2px;
        font-size: $h6-font-size;
      }
    }
  }

  .header-title-left {
    @include HeaderTitle("left", "false", "\f107", "false");

    &.header-title-sm {
      @include HeaderTitle("right", "false", "\f107", "false");
      font-size: $h6-font-size;
      font-weight: bold;
      padding-right: 1rem;

      &:before,
      &:after {
        bottom: -2px;
        font-size: $h6-font-size;
      }
    }
  }

  .header-title-sm {
    @include HeaderTitle("left", "false", "\f107", "false");
    font-size: $h5-font-size;
    font-weight: bolder;
    padding-right: 1rem;

    &:before,
    &:after {
      bottom: -2px;
      font-size: $h5-font-size;
    }
  }

  .tooltipbody {
    @include tooltip(215px);
  }

  .navheal {
    .navbar {
      background-color: #e9e4e0;
    }
  }

  .navbar {
    box-shadow: none;
  }

  // .bodyshow {
  //   overflow: hidden;
  //   ::-webkit-scrollbar {
  //     display: none;
  //   }
  // }
  .border-right {
    border-right: 1px #bdbdbd solid !important;
  }

  .border-left {
    border-left: 1px #bdbdbd solid !important;
  }

  .border-bottom {
    border-bottom: 1px #bdbdbd solid !important;
  }

  .border-top {
    border-top: 1px #bdbdbd solid !important;
  }

  .height-44 {
    height: 50px !important;
  }

  .nav-item {
    align-self: center !important;
  }

  .dropdown .dropdown-menu {
    padding: 0rem !important;
  }

  .dropdown-menu-left {
    width: auto;
    margin-top: -1rem;

    .button {
      background-color: #841d14 !important;

      div {
        text-align: center !important;

        a {
          color: white !important;
        }
      }
    }
  }

  // .k-grid {
  //   th {
  //     padding: 0px !important;
  //     margin: 0px !important;
  //   }
  //   td {
  //     padding: 0px !important;
  //     margin: 0px !important;
  //     vertical-align: middle !important;
  //   }
  // }
  // .k-grid .k-grid-header th {
  //   background-color: #f6f6f6 !important;
  //   color: #656565 !important;
  // }
  kendo-grid {
    .k-grid-header,
    .k-grid .k-grid-header {
      max-height: 48px;
    }

    .k-grid-content-locked,
    .k-grid-header-locked {
      border: none;
    }

    .exam-pkg_checkbox {
      margin-top: 0 !important;
    }
  }

  .k-i-add:before,
  .k-i-plus:before,
  .k-plus:before {
    content: "\E015" !important;
  }

  .k-i-kpi-trend-equal:before,
  .k-i-minus:before,
  .k-minus:before {
    content: "\E013" !important;
  }

  // .k-widget {
  //   font-size: 12px;
  //   font-weight: 400;
  //   font-family: 'Segoe UI';
  // }

  // .k-grid-header {
  //   padding: 0rem !important;
  // }
  // .left-sidebar {
  //   position: fixed;
  //   >li {
  //     border-bottom: 1px solid #bdbdbd;
  //     color: $black;
  //     padding: 0.6rem 0.5rem 0rem 0.6rem;
  //     text-align: center;
  //     &.active h3 {
  //       color: $red;
  //     }
  //   }
  // }
  .menu-tab {
    > li {
      display: inline-block;
      padding: 10px 20px 5px;
      text-align: center;

      a {
        font-size: $h6-font-size;
      }
    }
  }

  .inforpatient {
    // padding: 0.5rem 0rem 0.5rem 0rem !important;
    margin: 0rem 0.875rem 0rem 0.375rem !important;

    .avatar {
      width: 40px;

      .img {
        border-radius: 100%;
        height: 40px;
      }
    }
  }

  .showpage {
    margin: 0rem 2.875rem 0rem 1.875rem !important;
  }

  @media (max-width: 1440px) {
    .showpage {
      margin: 0rem 2.875rem 0rem 0 !important;
    }

    .box-left .col-12 .md-col-box .row label:nth-child(2) {
      width: 70px !important;
    }
  }

  .leftsidebar {
    // margin: 0rem 0rem 0rem 2.5rem !important;
    margin-left: -14px !important;
    margin-right: -15px !important;
  }

  .pmtext {
    .md-form {
      margin-bottom: 0rem !important;
    }

    .form-control {
      margin-top: 0rem !important;
    }

    .md-form.form-xs input[type="text"] {
      height: 1.15rem;
    }

    input {
      padding: 0rem !important;
    }
  }

  @media (max-width: 1366px) {
    .tooltipdoctor {
      @include tooltip(138px);
      vertical-align: middle !important;
      font-weight: 400 !important;
    }

    .ttipitemser {
      // @include tooltip(300px);
      vertical-align: middle !important;
      font-weight: 400 !important;
    }
  }

  label.tooltipdoctor {
    margin-bottom: 0rem !important;
    padding: 0 0.5rem 0 0.5rem !important;
  }

  .Addresstootip {
    @include tooltip(275px);
  }

  @media (min-width: 1366px) {
    .tooltipdoctor {
      @include tooltip(150px);
      vertical-align: middle !important;
      font-weight: 400 !important;
    }

    .ttipitemser {
      // @include tooltip(300px);
      vertical-align: middle !important;
      font-weight: 400 !important;
    }
  }

  .tooltipservice {
    @include tooltip(190px);
    vertical-align: middle !important;
  }

  .editcheckbox {
    @extend %check-edit;
    @extend %check-edit-detail;
  }

  tbody {
    tr {
      .editcompobox {
        @extend %combobox-edit;
      }

      td {
        vertical-align: middle !important;

        label {
          padding-bottom: 0rem !important;
        }
      }
    }
  }

  .left-sidebar {
    @extend %LeftSideBar; // bottom: 80px;
    width: 80px;
    z-index: 16;
  }

  .menu-tab {
    > li {
      display: inline-block;
      padding: 10px 20px 5px;
      text-align: center;

      a {
        font-size: $h6-font-size;
      }

      &.active {
        border-bottom: 2px solid $red;

        a {
          color: $red;

          font: {
            size: $h5-font-size;
            weight: bold;
          }
        }
      }
    }
  }

  label {
    margin-bottom: 0rem !important;
  }

  .dropdownMenutime {
    width: auto;

    label {
      font-size: 0.875rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 500;
    }
  }

  .dropdownMenutype {
    min-width: 250px;

    label {
      font-size: 0.875rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 500;
    }
  }

  .dropdownMenustatus {
    min-width: 200px;

    label {
      font-size: 0.875rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 500;
    }
  }

  kendo-grid kendo-grid-list .k-grid-table tbody tr td,
  .k-grid kendo-grid-list .k-grid-table tbody tr td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .k-grid td > div {
    padding-top: 8px !important;
    padding-bottom: 9px !important;
  }

  .filter-info {
    padding-right: 49px !important;
  }

  .text-price {
    width: 135px;
    padding-right: 23px;
  }

  .text-pmtstatus {
    width: 145px;
    padding-left: 0px;
  }

  .text-sername {
    width: 304px;
    padding: 30px;
  }

  .text-hq {
    width: 200px;
  }

  .k-detail-cell tr.ng-star-inserted:nth-child(1) td {
    border-top: none !important;
  }

  .k-detail-cell tr.ng-star-inserted td {
    height: 37px;
  }

  .k-detail-cell tr.ng-star-inserted td .k-combobox {
    margin-top: 0 !important;
    max-height: 37px !important;
  }

  @media (max-width: 1366px) {
    .text-price {
      padding-right: 20px !important;
    }

    .text-pmtstatus {
      width: 136px !important;
      padding-left: 5px !important;
    }

    .text-sername {
      width: 280px;
      padding: 22px;
    }

    .text-hq {
      width: 181px !important;
    }
  }

  .k-grouping-header-flex {
    display: none;
  }

  .box-kendo-grid-detail {
    .k-grid-header {
      background: none;
    }

    kendo-grid.k-widget,
    .k-grid.k-widget {
      border-top: none;
    }

    kendo-grid .k-grid-header thead,
    .k-grid .k-grid-header thead {
      background: none;
    }

    kendo-grid .k-grid-header tr th.k-header,
    .k-grid .k-grid-header tr th.k-header {
      color: #6c757d !important;
    }

    .k-grid .k-grouping-row {
      background: none !important;
    }

    .k-grouping-row td {
      background: none !important;
      // border-color: #e9ecef!important;
    }

    kendo-grid tbody tr td,
    .k-grid tbody tr td {
      // border-top: none;
      border-color: #e9ecef !important;

      a.k-grid-remove-command {
        background: none;
        padding-top: 10px;
      }
    }

    .k-grid td > div {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    .md-form.form-xs {
      margin-bottom: 0;
    }

    .k-i-arrow-60-down:before,
    .k-i-arrow-s:before,
    .k-i-collapse:before,
    .k-i-expand-s:before,
    .k-i-kpi-trend-decrease:before,
    .k-i-sarrow-s:before {
      content: "\f106" !important;
      font: normal normal normal 14px/1 FontAwesome;
    }

    .k-i-arrow-60-right:before,
    .k-i-arrow-e:before,
    .k-i-expand-e:before,
    .k-i-expand:before,
    .k-i-sarrow-e:before {
      content: "\f107" !important;
      font: normal normal normal 14px/1 FontAwesome;
    }

    .k-group-footer td {
      background: none;
    }
  }

  .k-grid-toolbar .dropdown .dropdown-menu {
    top: 5px;
  }

  .h5 {
    font-size: 10pt !important;
  }

  .encounter-content,
  .patient-info::ng-deep {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
    width: 100%;
    top: 0px;
    z-index: 9;
  }

  .patient-info::ng-deep {
    padding-left: 135px;
  }

  .patient-info-content::ng-deep {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
    width: 100%;
  }

  lv-patient-info::ng-deep {
    .nav-patient-info {
      position: unset;
    }
  }

  .fix-info {
    position: fixed;
    top: 153px;
    height: auto;
    z-index: 998;
    background-color: #fff;
  }

  .k-grid-table > .k-grouping-row:nth-child(8) td {
    padding-left: 19px;
  }

  .d-table-cell.align-top.px-3 {
    width: 265px;
  }

  .box-left {
    width: 0 !important;
    display: none !important;
    animation: scale-display--reversed 0.3s;
    animation-fill-mode: forwards;
  }

  .icon-toggle {
    color: #6c757d5c !important;
  }

  @keyframes scale-display {
    0% {
      opacity: 0;
      transform: scale(0);
      -webkit-transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }

  @keyframes scale-display--reversed {
    0% {
      display: inline-flex;
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
    99% {
      display: inline-flex;
      opacity: 0;
      transform: scale(0);
      -webkit-transform: scale(0);
    }
    100% {
      display: none;
      opacity: 0;
      transform: scale(0);
      -webkit-transform: scale(0);
    }
  }

  .box-left-click {
    display: table-cell !important;
    width: 22% !important;
    animation: scale-display 0.3s;
  }

  @media (max-width: 1440px) {
    .box-left-click {
      width: 19px !important;
    }
  }

  @media screen and (max-width: 1369px) {
    .d-table-cell.align-top.px-3 {
      width: 265px;
    }
  }

  @media screen and (max-width: 1920px) {
    .box-kendo-grid-detail colgroup .mb-col:nth-child(10) {
      width: 265px;
    }
  }

  .k-state-disabled.v-cancel {
    lv-checkbox::ng-deep {
      .ttiptext {
        background-color: #777;
      }
    }
  }

  // .text-wrap{
  //   white-space: pre-wrap;
  //   overflow: initial;
  //   position: absolute;
  //   top: -2px;
  // }

  @media (max-width: 1440px) {
    .text-wrap {
      white-space: pre-wrap;
      overflow: initial;
      position: absolute;
      top: -2px;
    }
  }

  // @media screen and (min-width: 1703px) {
  //   .d-table-cell.align-top.px-3{
  //     width: 16%;
  //   }
  // }
}

// End .FeeManagement

.FeeManagement.his-content-container {
  margin-bottom: 118px;
}

.FeeManagement .inforpatient .avatar {
  max-height: 50px;
  width: 50px;
  border-radius: 50%;
}

.FeeManagement .md-col-box > div {
  margin-bottom: 0.5rem !important;
}

.body-popup-discard {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.header-popup-discard {
  border-bottom: 1px solid #d2d2d2;
}

.FeeManagement .header-title:after {
  content: "" !important;
}

.class-sermibold {
  font-family: "Segoe UI Semibold";
}

.header-mb {
  margin-bottom: -9px !important;
}

.header-mb-not {
  margin-bottom: 3px;
}

.mb-col {
  padding-left: 15px;
  margin-left: -15px;
  padding-right: 0 !important;
}

.md-col-box {
  padding-left: 0;
  padding-right: 0;
}

.d-table .mb-col:nth-child(1) a::after {
  right: -10%;
}

.FeeManagement .button-status {
  background-image: none;
  background-color: white;
  border: none;
  padding: 0;
  display: contents !important;
}

.FeeManagement .k-state-selected .ng-untouched {
  background-color: #f0e6df;
}

.k-grid kendo-grid-list .k-grid-table tbody tr:hover .ng-untouched {
  background-color: #f5f1ed;
}

.box-nav-patient {
  // border-bottom: 1px solid #DFDFDF;
  margin-left: -14px;
  padding-left: 14px;
}

.FeeManagement .box-patient-content {
  margin-left: -10px;
}

.FeeManagement .letter-spacing {
  letter-spacing: -1px;
}

.nav-patient-info {
  width: 100%;
  top: 0px;
  border: unset;
  background: rgb(255, 255, 255);
  z-index: 15;
  margin-top: -13px;

  .avatar {
    margin-right: unset;
  }

  .img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .queue {
    min-width: 260px;
    padding-left: 30px;
    position: relative;

    .toogle-more-info {
      // bottom: -24px;
      // &.dot-more{
      //   bottom: -14px;
      // }
      bottom: -22px;
    }
  }

  .show-more {
    .avatar {
      width: unset;
      height: unset;
      border-radius: unset;
      margin-right: unset;
    }

    .img {
      border-radius: unset;
      height: 80px;
      width: 75px;
      background-size: contain;
    }
  }

  .toogle-more-info {
    position: absolute;
    bottom: 0;
    right: 0;

    i {
      height: auto;
    }
  }

  .col-wl {
    width: 4.1rem;
  }

  .col-wr {
    width: 73.2rem;
  }

  .nav-info {
    display: block;
  }

  .nav-info {
    .emergency-visit {
      margin-left: 51px;
    }
    > div,
    .box-emer .true-route,
    .box-emer .info-moving-to {
      float: left;
    }

    .date-start,
    .date-end,
    .date-time,
    .date-sum {
      border-bottom: 1px solid #bfbfbf;
    }

    .box-emer {
      width: 100%;
      margin-bottom: -4px;
      margin-top: 2px;
    }

    .true-route {
      width: 11%;
    }

    .box-moving-to {
      width: 38%;
      float: left;
    }

    .box-moving-to > span {
      float: left;
    }

    .box-moving-to .text {
      float: left;
      width: 71%;
      border-bottom: 1px solid #bfbfbf;
      min-height: 16px;
    }

    .emergency-visit label {
      margin-bottom: -1rem !important;
    }
  }

  .box-diagnostic {
    width: 41.4%;
    float: left;
  }

  .box-diagnostic span {
    float: left;
  }

  .box-diagnostic .text {
    float: left;
    width: 76%;
    border-bottom: 1px solid #bfbfbf;
  }

  .box-icd {
    width: 17%;
    float: left;
  }

  .box-icd span {
    float: left;
  }

  .box-icd .text {
    float: left;
    width: 55%;
    border-bottom: 1px solid #bfbfbf;
  }

  .box-hi {
    width: 17%;
    float: left;
  }

  .box-hi span {
    float: left;
  }

  .box-hi .text {
    text-align: right;
    float: left;
    width: 17%;
    border-bottom: 1px solid #bfbfbf;
  }
}

.kendo-grid-list table,
tr {
  border-bottom: 1px solid #bfbfbf03 !important;
}

.header-mb {
  margin-top: -4px;
}

.header-mb-not {
  margin-bottom: 3px;
}

.mb-col {
  padding-left: 15px;
  margin-left: -15px;
  padding-right: 0 !important;
}

hcfpsumstate::ng-deep {
  .md-col-box > div.row.mb-2:nth-child(1) {
    margin-top: 9px;
  }
}

.kendo-grid-list table,
tr {
  height: 35px;
  max-height: 35px;
}

.k-detail-row table td {
  border: none;
}

lv-combobox {
  max-height: 40px;
}

.text-ellip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-info-fee > .col-12 {
  margin-left: -13px;
}

.button-export-hi {
  background: none;
  float: right;
  cursor: pointer;
}

.grid-ser .k-checkbox:checked + .k-checkbox-label:before {
  background: 0 0;
}

.grid-ser .k-checkbox:checked + .k-checkbox-label:before {
  background: none;
}

.grid-ser .k-checkbox:checked + .k-checkbox-label:after {
  display: none;
}

.grid-ser .k-grid tr:has(td:has(.k-checkbox:focus + .k-checkbox-label:before)) {
  background-color: #f0e6df !important;
}

.grid-ser [type="checkbox"]:indeterminate + label:before {
  left: -25px;
  top: -1px;
  width: 21px;
  height: 21px;
  border-right: none;
}

.grid-ser .k-checkbox:indeterminate + .k-checkbox-label::after {
  width: 11px;
  height: 11px;
  top: 9px;
  left: 0px;
}

.grid-ser .k-checkbox:checked + .k-checkbox-label.k-all::before {
  border-left: none;
  border-top: none;
}

.padleft-1 {
  padding-left: 0px;
}

.padleft-2 {
  padding-left: 20px;
}

.padleft-3 {
  padding-left: 40px;
}

.grid-check-xml {
  .k-widget.k-grid {
    border-top: none !important;
  }

  .k-grid-header,
  .k-grouping-header.k-grouping-header-flex {
    display: none;
  }

  .k-grid-table tr,
  .k-grid-table td {
    background: none !important;
  }
}

.cssAppt {
  .k-i-arrow-60-right::before,
  .k-i-arrow-e::before,
  .k-i-sarrow-e::before,
  .k-i-expand::before,
  .k-i-expand-e::before {
    content: "\e015" !important;
  }
  .k-i-arrow-60-down::before,
  .k-i-arrow-s::before,
  .k-i-sarrow-s::before,
  .k-i-collapse::before,
  .k-i-expand-s::before {
    content: "\e013" !important;
  }
}
