/*@import "_Variables";*/
body {
  overflow: hidden
}

.func-diagnostic-img {
  label {
    /*set khoảng cách lưới vừa đủ sài*/
    margin-bottom: 0px;
  }

  .tooltip-inner {
    color: #000;
    background: #fff;
  }

  .nav-func-diagnostic-img {
    @extend %TopRibbon;
  }



  .nav-patient-info {
    background-color: white;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    position: fixed;
    z-index: 2;

    .avatar {
      border-radius: 50%;
      @include size(50px);
    }
  }

  .space {
    width: 75px;
  }

  .left-sidebar {
    @extend %LeftSideBar;
  }

  .section {
    padding: 1rem 3rem 1rem calc(100px + 3rem);

    .avatar {
      width: 50px;

      .img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
    }
  }


  .k-grid td {
    border-bottom: 1px solid #e9ecef;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    font-weight: 400;
    font-size: 10pt;
  }

  .k-grid td>div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }



  [type="checkbox"]:disabled:not(:checked)+label:before {
    // disable
    background: none;
    border: 2px solid #bdbdbd;
    margin-left: 0;
    margin-top: .25rem;
    background-color: #bdb3b3;
  }


  .check_custom {
    [type="checkbox"]+label:before {
      background-color: azure !important;
    }

  }

  .check_custom {
    [type="checkbox"]:checked+label:before {
      background-color: transparent !important;
    }
  }

  //edit grid
  .dropdown .dropdown-menu {
    -webkit-transform: translate3d(0px, 31px, 0px);
    transform: translate3d(0px, 31px, 0px);
  }

  //gid header

  .noneheader {
    .k-grid .k-grid-header th {
      background: #e8e7e7 !important;
      display: none !important;
    }
  }

  .k-grid-header {
    padding-right: 5px !important;
  }
}
