﻿.hospital-statistic {
  .nav-hospital-statistic {
    @extend %TopRibbon;
  }

  .nav-patient-info {
    background-color: white;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    position: fixed;
    z-index: 2;

    .avatar {
      border-radius: 50%;
      @include size(50px);
    }
  }

  // Chỉnh sửa lại textbox
  [type="radio"]+label,
  [type="checkbox"]+label {
    height: 23px !important;
    width: auto;
  }

  .border-bottom-2 {
    border-bottom: 2px solid #bdbdbd;
  }

  .item-1 {
    background-color: #FF4500;
  }

  .item-2 {
    background-color: #FFA500;
  }

  .item-3 {
    background-color: #FFC0CB;
  }

  .item-4 {
    background-color: #ff6699;
  }

  .item-5 {
    background-color: #0077b3;
  }

  .item-6 {
    background-color: #0099e6;
  }

  .item-7 {
    background-color: #4dc3ff;
  }

  .item-8 {
    background-color: #cceeff;
  }

  .item {
    position: relative;

    color: white;
    width: 14rem;
    height: 4.1rem;

    .icon-top-right {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    .icon-bottom-right {
      position: absolute;
      bottom: 0.20rem;
      right: 0.25rem;
    }
  }

  .text-blue {
    color: #1E90FF;
  }

  .text-black {
    color: #000000;
  }

  .space {
    width: 90px;
  }

  .header-title-notIcon {
    @include HeaderTitle('right', 'false', '', 'false')
  }

  .left-sidebar {
    @extend %LeftSideBar;
  }

  .section {
    padding: 1rem 3rem 1rem calc(100px + 3rem);

    .avatar {
      width: 50px;

      .img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
    }
  }
}
