.lookup-pharmacy {
  .card {
    // border: 0;
    // border-radius: 0;

    .card-header {
      color: #000;
      padding: 0;
      padding-left: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #9f9f9f;
      height: 51px;
      padding-top: 17px;

      >a {
        display: table
      }

      h5 {
        font-size: 1rem;

        >.fa {
          display: none
        }
      }
    }

    .card-body {
      padding: 0px;
    }
  }

  .antangonis {
    .description {
      margin-top: 0px;
      margin-left: 9px;
    }

    .card-header {
      padding-left: 0px;
      height: 58px !important;
      border-bottom: unset;
      padding-top: 0px;

      .fa {
        position: relative;
        top: 17px;
      }
    }

    .card-body {
      border-top: 1px solid #ced4da;
      margin-left: 25px;
    }
  }

  li {
    clear: both;
  }

  .nav-menu {
    height: 250px;
    overflow: hidden;
    clear: both;
    float: left;
    // width: 250px;
  }

  // .content {
  //   position: absolute;
  //   top: 130px;
  //   width: 100%;
  // }

  .head-filter {
    padding: 0px 20px 0px 85px;
  }

  .line-head {
    border-top: 1px solid #9f9f9f;
    // float: left
  }

  .humber-therapists {
    padding-left: 20px;
    width: 250px;
    border-right: 1px solid #9f9f9f;
  }

  .left-therapists,
  .right-therapists {
    float: left;
    width: 50px;
    padding-left: 15px;
    height: 40px;
    padding-top: 7px;
  }

  .right-therapists {
    width: 200px;
    padding-top: 6px;
    padding-left: 0;
    border-right: 1px solid #9f9f9f;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    overflow: hidden;
    z-index: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .right-therapists.active {
    width: 0px;
  }

  .level0 {
    font-family: Segoe UI Semibold;
    font-size: 10pt;
    padding-top: 0px;
    padding-left: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 230px;

  }

  .level1 {
    font-size: 10pt;
    padding-left: 23pt;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 245px;
  }


  .active-menu {
    color: red
  }

  .k-grid {
    td {
      white-space: nowrap;
      padding-top: 0px;
      padding-bottom: 0px;
      vertical-align: middle;
    }
  }

  .k-grid td:first-child,
  .k-grid th:first-child {
    padding-left: 8px !important;
  }

  .fa-2x {
    font-size: 2rem !important;
  }
}

.pharmacy {
  .grid-content {

    kendo-grid .k-grid-header,
    .k-grid .k-grid-header {
      border: 0;
      border-color: #ffffff
    }

    .k-grid th:first-child,
    .k-grid td:first-child {
      border: 0;
      background-color: #ffffff;
    }

    kendo-grid.k-widget,
    .k-grid.k-widget {
      border: 0;
    }

    kendo-grid kendo-grid-toolbar.k-grid-toolbar,
    .k-grid kendo-grid-toolbar.k-grid-toolbar {
      margin-left: 20px;
    }

    .k-grid-norecords {
      td {
        padding-left: 15px !important;
      }

    }
  }
}
