/*@import "../Variables";*/

/*Header*/

header {
  background-color: $Color4B0F0A;

  .backgruond {
    background-color: $Color4B0F0A !important;
  }

  .ShowConfig {
    display: inline-block !important;
  }

  .primary {
    border-radius: 0;
    background-color: #FC0000;
    color: #FFF !important;
  }

  .logo {
    img {
      @include size(30px);
    }

    .title-bottom {
      margin-top: -6px
    }
  }


  .report {
    height: 74px;

    .progress {
      background-color: #781e00;
      border-radius: 25px;
      height: .8rem !important;
      margin-right: 80px;
      margin-bottom: 0px;

      .progress-bar {
        background-color: #ed7d31;
        height: .8rem;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  header {

    .sub-menu-content,
    .side-nav {
      padding: 40px
    }

    .menu-right>li .dropdown-menu>.sub-menu-content {
      width: 400px;
      font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
      // &.dropdown-menu-right {
      //   font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif
      // }
    }
  }
}

/*Footer*/

footer {
  background-color: $Color4B0F0A;
  position: relative;
  z-index: 3;

  .scroll-top {
    position: absolute;
    top: 1rem;
    right: 0;

    >a {
      margin: 1rem;
      display: block;
    }
  }

  img {
    @include size(15px);
  }
}

// headermodule
lv-header-module {
  a {
    color: inherit;
  }

  a:hover {
    color: #4b0f0a;
    opacity: 0.9;
  }

  .role-for-user {
    position: relative; // .owl-theme{

    //   margin-left: 0px;
    // }
    .d-table-cell:nth-child(2) {
      padding-left: 1.8rem;
    }

    .round {
      position: absolute;
      top: 8pt;
      margin-left: -1.2rem;
      cursor: pointer;

      .fa {
        font-size: 20pt;
      }
    }

    .round-left {
      left: 0px;
    }

    .round-right {
      height: 50px;
      width: 50px;
      right: 0;
      background: #e9e4e0;
      top: 0;
      z-index: 5;
      margin: auto;

      i {
        padding-top: 12px;
        padding-left: 20px;
      }
    }
  }
}

lv-patient-info {

}

/* Common - HIS */

.hidden {
  display: none;
}
