/*@import "../Variables";*/

.manager-permission {
  .drop-zone{
    margin: auto !important;
    height: 280px !important;
    border: 2px groove #ffffff !important;
    border-radius: 0px !important;
  }

  .color-bf000000 {
    color: #bf0000;
  }

  .label-custom {
    label {
      display: inline-block;
      margin-bottom: 0.15rem;
    }
  }

  .custom-datepicker {
    .k-dateinput-wrap {
      .k-input {
        margin-top: 0px;
        background-color: #e1e1e1;
      }
    }

    .k-select {
      background-color: #e1e1e1 !important;
    }
  }

  .user-gr {
    .img-icon-user {
      height: 33px;
      float: right;
    }
  }

  .user-add-gr {
    .img-icon-user {
      height: 33px;
      float: left;
    }

    .k-grid-header-wrap {
      th {
        padding: 8px 0px 8px 0px !important;
      }
    }
  }

  .table-tab-2 {
    .table thead th {
      border-bottom: 2px solid #bfbfbf;
      border-top: 2px solid #bfbfbf;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }

  .button-cursor {
    cursor: pointer;
  }

  .table-left {

    .table th,
    td {
      border-top: 0;
      border-bottom: 1px solid #d4d1d1;
    }
  }

  .table-role {
    .table thead th {
      border-bottom: 2px solid #bfbfbf;
      border-top: 2px solid #bfbfbf;
      font-weight: 500;
      font-size: 1.1rem;
    }

    .table thead tr {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .text-center-check label {
      text-align: center !important;
    }
  }

  .nav-manager-permission {
    @extend %TopRibbon;
  }

  .left-sidebar {
    @extend %LeftSideBar;
  }

  .font-size-20 {
    font-size: 20px;
  }

  .grid-enc {

    hr {
      border-top: 1px solid rgba(0, 0, 0, 0.41);
    }

    // .k-grid-header {
    //   padding: 0px 0px 0px 0px !important;
    // }
    [type="checkbox"]+label {
      height: 30px;
      line-height: 30px;
      font-size: .875rem;
      margin-bottom: 0px;
      padding-left: 30px;
    }

    // .k-grid td {
    //   border-bottom: 1px solid #D8D8D8;
    //   vertical-align: top;
    //   padding-left: 0px;
    //   padding-right: 0px;
    //   font-weight: 400;
    //   font-size: 10.5pt;
    //   padding-bottom: 1px;
    //   padding-top: 1px;
    // }

    // .k-grid .k-grid-header th {
    //   padding-left: 0px;
    //   padding-right: 0px;
    //   line-height: 30px;
    // }
  }

  .nav-patient-info {
    padding-left: 160px !important;
    background-color: white;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    position: fixed;
    z-index: 2;
    width: calc(100% + 32px);
  }

  .nav-mp {
    background-color: #e9e4e0;

    >.d-table>.d-table-cell:first-child {
      width: 1rem;
    }

    .role-action>li {
      border-left: 1px solid #bfbfbf;
      display: inline-block;
      padding: 13px 5px 10px 10px;

      >a {
        padding: 0px 10px 0px 5px;

        >.fa {
          font-size: 1.5em;
        }
      }
    }
  }

  .nav-mp-2>.container {
    padding: 0px 50px;
  }

  .section {
    width: calc(100% + 32px);
    padding-left: 140px;

    .left-sidebar {
      float: left;
      width: 100px;

      >li {
        border-bottom: 1px solid #bfbfbf;
        color: $black;
        padding: .5rem 0rem;

        &.active h3 {
          color: $red;
        }
      }
    }

    .main {
      float: left;
      padding: 0px 50px;
      position: relative;
      width: calc(100% - 100px);

      ///   ndtich  ////////
      .font-size-13 {
        font-size: 13px;
      }

      .ml-40 {
        margin-left: 40px;
      }

      .color-bf000000 {
        color: #bf0000;
      }

      .border-top-2 {
        border-top: 2px solid #bfbfbf;
      }

      .border-bottom-2 {
        border-bottom: 2px solid #bfbfbf;
      }

      .ml-45 {
        margin-left: 45px;
      }

      .font-size-14 {
        font-size: 14px;
      }

      .font-size-20 {
        font-size: 20px;
      }

      .font-size-25 {
        font-size: 25px;
      }

      .font-weight-100 {
        font-weight: 100;
      }

      .right-inner-addon {
        position: relative;
      }

      .right-inner-addon input {
        padding-right: 30px;
        line-height: 5px;
      }

      .display-inline-block {
        display: inline-block;
      }

      .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 5px 5px;
        pointer-events: none;
      }

      .height-80 {
        height: 80px;
      }

      .opacity-6 {
        opacity: 0.6;
      }

      .opacity-4 {
        opacity: 0.4;
      }

      .line-height-7 {
        line-height: 0.7rem;
      }

      .img-user img {
        padding-top: 2px;
        width: 25px;
        height: 30px;
      }

      /*Căn chỉnh lại checkbox in boostrap để phù hợp với layout*/
      .repare-checkbox {
        >.custom-control {
          padding: 1px;
          margin-right: 0rem;
        }
      }

      .table-group {
        .width-column-check-1 {
          width: 20px;
        }

        thead tr {
          height: 45px;
          font-size: 18px;
          background-color: #cabbbb;
        }

        thead tr th {
          padding-top: 15px;
        }

        .column-name {
          width: 300px;
        }
      }

      .new-group {
        .custom-control {
          margin-right: 0px;
          margin-bottom: 0px;
        }

        .description {
          min-height: 65px;
        }
      }

      .detail-group {
        .title-long {
          width: 800px;
        }

        .table {
          margin-bottom: 0px;
        }
      }

      .group-search {
        .table-fixed>tbody {
          height: 472px;
          overflow-y: auto;
          width: 100%;
        }

        .table-fixed>thead,
        tbody,
        tr,
        td,
        th {
          display: block;
        }

        /*create scroll bar for table .end*/
        /* dấu thanh scroll của bảng*/
        .table-fixed> ::-webkit-scrollbar {
          width: 0px;
          /* remove scrollbar space */
          background: transparent;
          /* optional: just make scrollbar invisible */
        }

        .right-inner-addon input {
          padding-right: 25px;
          padding-left: 10px;
          line-height: 5px;
          width: 80%;
        }

        .right-inner-addon {
          padding-top: 15px;
          height: 60px;
        }

        .right-inner-addon i {
          position: absolute;
          right: 10px;
          padding: 5px 5px;
          pointer-events: none;
        }

        .row-active {
          border-right: 5px solid #bfbfbf;

          h5 {
            font-weight: 900;
          }
        }

        table {
          margin-bottom: 0px;

          td {
            height: 80px;
            font-size: 25px;
          }
        }
      }

      .width-column-check-1 {
        width: 20px;
      }

      .manager-infor {
        .table-fixed>tbody {
          height: 507px;
          overflow-y: auto;
          width: 100%;
        }

        .table-fixed>thead,
        tbody,
        tr,
        td,
        th {
          display: block;
        }

        /*create scroll bar for table .end*/
        /* dấu thanh scroll của bảng*/
        .table-fixed> ::-webkit-scrollbar {
          width: 0px;
          /* remove scrollbar space */
          background: transparent;
          /* optional: just make scrollbar invisible */
        }

        table {
          margin-bottom: 0px;

          td {
            padding: 0px;
            border-bottom: 0;
          }
        }
      }

      // .k-grid td, .k-grid th {
      // padding: 2px 0px !important;
      // }

      .img-icon-user {
        height: 33px;
        float: right;
      }

      .img-detail-user {
        height: 130px;
      }

      ///// Ket thuc ndtich ///////////
      // start Nguyễn Xuân Hải ///
      /**/
      .background-gray {
        background-color: gray;
      }

      /* thiết lập page scroll*/
      .scroll-col2 {
        height: 472px;
        overflow-y: auto;
      }

      /* dấu thanh scroll của bảng*/
      scroll-col> ::-webkit-scrollbar {
        width: 0px;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */
      }

      .backgound-white {
        background-color: white;
      }

      /*kich thước ảnh bác sĩ*/
      .img-doctor img {
        padding-top: 2px;
        width: 25px;
        height: 30px;
      }

      // end Nguyễn Xuân Hải ///
    }
  }

  // .k-grid-header {
  //   padding: 0px 0px 0px 0px;
  // }

  .button-cursor {
    cursor: pointer;
  }

  .tab-1 {
    .header-title {
      @include HeaderTitle('right', 'false', '\f107', 'false')
    }
  }

  .header-tit-left {
    .header-title {
      @include HeaderTitle('left', 'false', '\f105', 'false')
      
    }
    
    .header-title.expanded::before,
    .header-title.expanded::after {
      transform: rotate(90deg);
    }
    .header-title::after {
      display: none !important;
    }
    .header-title::before,
    .header-title::after {
      color: #666666;
      font-family: 'FontAwesome';
      font-size: 1.75rem;
      font-weight: normal;
      position: absolute;
      bottom: 5px !important;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: all 150ms ease-in 0s;
    }
  }

  .swaptext {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
  }

  .active-selected {
    color: #8a0808;
    font-weight: bold;
  }

  .active-td-selected {
    border-right: 6px solid $red-brown-color;
  }

  [type="checkbox"] {
    &:checked+label.custom-checkbox-examination:before {
      @include size(8px, 14px);
      top: -2px;
      right: 1rem;
    }

    +label.custom-checkbox-examination {
      color: $text-muted;
      padding-left: 0;
      padding-right: 1.75rem;
      font-size: 0.875rem;
      font-weight: normal;
      margin-bottom: 0;
      height: 1.2rem;
      line-height: 1.2rem;

      &:before {
        @include size(14px);
        border-width: 1px;
        margin-top: .15rem;
        left: auto;
        right: .5rem;
      }

      &:not(:last-child) {
        border-right: 1px solid #bdbdbd;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none !important;
  }

  div.scroll {
    width: auto;
    height: auto;
    max-height: 550px !important;
    overflow: scroll;
  }
}
