.manage-schedule {
  .configsys .nav-configsys .row {
    margin: 0;
  }

  kendo-grid kendo-grid-list .k-grid-table tbody tr td [type="checkbox"]:checked+label:before,
  .k-grid kendo-grid-list .k-grid-table tbody tr td [type="checkbox"]:checked+label:before {
    width: 10px;
    height: 20px;
    border-color: transparent #ea0404 #e64242 transparent;
    border-width: 2px;
    /* color: red; */
  }

  // .k-grid-content {
  //   overflow-y: auto;
  // }

  // .k-grid .k-grid-header th {
  //   background: #e8e7e7 !important;
  // }


  // .k-grid-header {
  //   padding-right: 5px !important;
  // }
  // .k-grid td {
  //   border-bottom: 1px solid #e9ecef;
  //   vertical-align: top;
  //   /*overflow: hidden;*/
  //   /*white-space: nowrap;*/
  //   font-weight: 400;
  //   font-size: 10pt;
  // }

  // .k-grid td > div {
  //   overflow: hidden;
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  // }



  [type="checkbox"]:disabled:not(:checked)+label:before {
    // disable
    background: none;
    border: 2px solid #bdbdbd;
    margin-left: 0;
    margin-top: 0rem;
    background-color: #bdb3b3;
  }

  // .k-grid td {
  //   padding: 0px 2px !important;
  // }

  // .k-grid th {
  //   padding-left: 2px !important;
  //   padding-right: 2px !important;
  // }

  .tooltip-inner {
    color: #000;
    background: #fff;
    max-width: 500px !important;
  }

  [type="checkbox"]:disabled:not(:checked)+label:before {
    // disable
    background: none;
    border: 2px solid #bdbdbd;
    margin-left: 0;
    margin-top: 0rem;
    background-color: #bdb3b3;
  }

  label {
    margin-bottom: 0px;
  }

  // .k-grid tr:hover {
  //   background: #E6E1E1;
  // }

  // .k-grid tr.k-alt:hover {
  //   background: #E6E1E1;
  // }
  .fg>.md-form>.k-dropdown-wrap>.k-select>.fa-angle-down:before {
    content: "\F017";
  }

}

.forGrid {
  [type="checkbox"]+label:before {
    top: -3px !important;
    left: 0px !important;
  }
}

// .forGrid{


//   .k-grid-content {
//     overflow-y: auto;
//   }
//   .k-grid-header {
//     padding-right: 5px !important;
//   }
//   .k-grid .k-grid-header th {
//     background: #e8e7e7 !important;
//   }


//   .k-grid td {
//     border-bottom: 1px solid #e9ecef;
//     vertical-align: top;
//     /*overflow: hidden;*/
//     /*white-space: nowrap;*/
//     font-weight: 400;
//     font-size: 10pt;
//   }

.k-grid td>div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


//   .k-grid td {
//     padding: 0px 2px !important;
//   }

//   .k-grid th {
//     padding-left: 2px !important;
//     padding-right: 2px !important;
//   }

//   .tooltip-inner {
//     color: #000;
//     background: #fff;
//   }

//   label {
//     margin-bottom: 0px;
//   }
//   .k-grid tr:hover {
//     background: #E6E1E1;
//   }

//   .k-grid tr.k-alt:hover {
//     background: #E6E1E1;
//   }
//  .fg > .md-form > .k-dropdown-wrap > .k-select > .fa-angle-down:before {
//     content: "\F017";
//   }
//   .k-editor-edit {
//     font-size: 14px !important;
//     color: #565252 !important;
//   }

// }
.fk>input[type=text][readonly] {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  width: 100%;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fk-readonly>input[type=text][readonly] {
  border: none;
  border-bottom: 0px solid #bdbdbd;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  width: 100%;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.is-derter {
  [type="checkbox"]+label:before {
    border-color: #9c4c4c;
    margin-top: .25rem;
    background: #942f2f;
  }

  [type="checkbox"]:disabled:not(:checked)+label:before {
    border-color: #9c4c4c;
    margin-top: .25rem;
    background: #942f2f;
  }
}
