.notify {
  ::-webkit-scrollbar {
    display: none;
  }

  .k-grid tr:hover {
    background-color: #F0EEDF !important;
  }

  .k-grid tr td {
    padding-left: 0 !important;
    border: none !important;
    border-bottom: 1px solid #eee !important;
  }

}
