.outpatient-drug {
  .k-grid-header tr th {
    border-bottom: none;
    height: 48px;
  }
  .abc {
    .k-grid tbody tr td {
      height: 40px !important;
    }
  }

  .k-grid tbody tr {
    height: 40px !important;
  }

  .k-grid td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    padding: 0 12px;
  }

  .dropdown .dropdown-menu {
    padding: 0rem !important;
  }

  .dropdown-menu-left {
    width: auto;
    margin-top: -1rem;

    .button {
      background-color: #841d14 !important;

      div {
        text-align: center !important;

        a {
          color: white !important;
        }
      }
    }
  }

  .menu-tab {
    >li {
      display: inline-block;
      padding: 10px 20px 0px;
      text-align: center;

      a {
        // font-size: $h6-font-size;
      }

      &.active {
        border-bottom: 2px solid $red;

        a {
          color: $red;

          font: {
            // size: $h5-font-size;
            weight: bold;
          }
        }
      }
    }
  }

  .section {
    .listView::-webkit-scrollbar {
      display: none;
      overflow: auto;
    }

    padding: 0.75rem 3rem 0.75rem 3rem;

    .info-patient {
      position: relative;
    }

    .info-patient .avatar {
      width: 40px;

      .img {
        border-radius: 100%;
        height: 40px;
      }
    }
  }

  .red-text.border-bottom-1 {
    border-color: #F44336;
  }

  .wrap-drug-search-box {
    position: absolute;
    width: 230px;
    z-index: 100;
    padding: 0 10px;
    box-shadow: black 0px 0px 5px;
    background: #fff;
  }

  .header-title-left {
    @include HeaderTitle('left', 'false', '\f107', 'false')
  }

  .header-title-left:before {
    content: "\F107";
    left: 0;
    font-size: 1.50rem;
  }

  .customcld>.k-calendar .k-state-selected,
  .k-calendar .k-weekend.k-state-selected,
  .k-drag-clue,
  .k-event,
  .k-panelbar .k-group>.k-item>.k-link.k-state-selected,
  .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-active),
  .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-expanded),
  .k-treeview .k-in.k-state-selected.phonghk {
    background-color: #b71b1b;
    border-color: #ec1b0c;
  }

}
.cus-pro{
  .progress .progress-bar {
    box-shadow: none;
    height: 10px !important;
    background-color: red !important;
  }
  .progress-bar, .progress {
    height: 10px !important;
    border-radius: 0.25rem !important;
    background-color: #ccc7c7!important;
  }
}
