/*@import "../Variables";*/
ngb-modal-window::ng-deep {
  .modal-radt {
    .lh-2 {
      line-height: 1.015rem !important;
    }

    &.modal-appt {
      padding: 5px 32px 40px;

      .k-grid {
        .k-grid-header {
          display: none;
        }

        tr,
        td {
          &.k-state-selected {
            background-color: #f0e6df !important;
            color: white;
          }
        }

        tr:hover {
          background-color: rgba(0, 0, 0, 0.05);
          cursor: pointer;
        }
      }

      .border-none {
        kendo-grid {
          border-color: white !important;
        }
        td {
          &:first-child {
            padding: 0.25rem 0.75rem 0.25rem 0.25rem !important;
            border-color: white !important;
          }

          &:nth-child(2) {
            padding-left: 0;
            border-top-color: white !important;
            border-width: 0px 0px 1px 0px;
          }
        }
      }

      .k-grid,
      td.k-state-focused {
        box-shadow: none;
      }

      .k-grid .no-border {
        border-style: none;
      }
    }
  }
  .modal-app {
    .lh-2 {
      line-height: 1.015rem !important;
    }

    &.modal-appt {
      padding: 5px 32px 40px;
      .k-grid {
        .k-grid-header {
          display: none;
        }

        tr,
        td {
          &.k-state-selected {
            background-color: white !important;
            color: white;
          }
        }

        tr:hover {
          background-color: rgba(0, 0, 0, 0.05);
          cursor: pointer;
        }
      }

      .border-none {
        kendo-grid {
          border-color: white !important;
        }
        td {
          &:first-child {
            padding: 0.25rem 0.75rem 0.25rem 13px !important;
            border-color: white !important;
          }

          &:nth-child(2) {
            padding-left: 0;
            border-top-color: white !important;
            border-width: 0px 0px 1px 0px;
          }
        }
      }

      .k-grid,
      td.k-state-focused {
        box-shadow: none;
      }

      .k-grid .no-border {
        border-style: none;
      }
    }
  }
}

.radt {
  .no-icon-number {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  .pointer-events-none {
    pointer-events: none;
  }

  .form-mb0 {
    .md-form {
      margin-bottom: 0px;
    }
  }

  .readonly-input {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="search-md"],
    input[type="search"],
    input[type="number"] {
      pointer-events: none;
    }

    .md-form {
      pointer-events: none;
    }
  }

  .modal-header {
    &.modal-appt-head {
      .close {
        padding-top: 7px;
        padding-right: 10px;
      }
    }
  }

  .tooltip-inner {
    color: #000;
    background: #fff;
    width: 240px !important;
    padding: 1.2rem;
    max-width: 300px;
    text-align: left;
  }

  .drop-seach {
    .dropdown .dropdown-menu {
      -webkit-transform: translate3d(45px, 31px, 0px);
      transform: translate3d(-12px, 31px, 0px);
    }
  }

  .pt-04 {
    padding-top: 0.4rem;
  }
  .col-span {
    &:nth-child(1) {
      padding-right: 0px !important;
    }
    &:nth-child(2) {
      padding-left: 0px !important;
    }
  }
  .kgr-bar {
    ::-webkit-scrollbar {
      display: none;
    }
  }

  radt-navbar {
    a {
      color: inherit;
    }
  }

  .left-sidebar {
    @extend %LeftSideBar; // bottom: 80px;
    width: 80px;
  }

  .section {
    padding: 95px 120px 1rem 120px;

    .header-title {
      @include HeaderTitle("right", "false", "\f107", "false");
    }
  }

  @media only screen and (max-width: 1200px) {
    .section {
      padding: 95px 40px 1rem 40px;
    }
  }

  .receive {
    span.header-title {
      @include HeaderTitle("right", "false", "", "false");
    }

    .k-grid-footer {
      display: none;
    }

    // .k-grid {
    //   .k-dirty {
    //     display: none;
    //   }
    // }

    .label-file {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      white-space: nowrap;
    }
  }

  .total-amount {
    text-align: right;
    color: red;
    font-size: 13.5pt;
    font-weight: 600;
    padding-right: 65px;
  }

  .cur-code {
    text-align: left;
    color: black;
  }

  .cur-label {
    padding-left: 239px;
    padding-right: 58px;
  }

  .removeservice,
  .addservice,
  .editservice {
    cursor: pointer;
  }

  .editservice {
    float: left;
    padding-right: 10px;
  }
}

/*.modal {
  .header-title1 {
    @include HeaderTitle('right', 'false', '\f107', 'false')
  }
}
.modal2 {
  .header-title2 {
    @include HeaderTitle('left', 'false', '\f107', 'false')
  }
}*/

.header-title-right {
  @include HeaderTitle("right", "false", "\f107", "false");
}

.header-title-left {
  @include HeaderTitle("left", "false", "\f107", "false");
}

.per-size {
  color: #4b0f0a;
  font-size: 1.1rem;
}

.text-center {
  text-align: center;
}

.text-grid {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.employee-combobox {
  float: left;
  min-width: 200px;
}

.location-combobox {
  float: left;
  width: 50px;
}

.consulting-combobox {
  float: left;
}

.employee {
  float: left;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.listpatient {
  // .k-grid .k-grid-header th {
  //   background: #e8e7e7 !important;
  // }
  // .k-grid-header {
  //   padding-right: 5px !important;
  // }
  kendo-grid kendo-grid-toolbar.k-grid-toolbar input[type="text"],
  .k-grid kendo-grid-toolbar.k-grid-toolbar input[type="text"] {
    width: 186px !important;
  }
}

// Tien add -- Renove line in combobox
// hs-combobox {
//   input[type=text]:focus:not([readonly]) {
//     border: none !important;
//   }
// }

.select-ser {
  .modal-dialog {
    width: calc(100% - 15px);
    min-width: calc(100% - 20%);
  }

  .modal-dialog .row {
    margin-left: 0;
    margin-right: 0;
  }

  .modal-header {
    padding: 0 87px 0 93px;
  }

  .box-header {
    padding-left: 0;
    margin-bottom: 5px;
  }

  .combobox-service {
    padding: 0 86px 0 79px;
    margin-top: 0px;
    margin-bottom: -11px;
  }

  lv-combobox::ng-deep {
    .component {
      margin-top: -4px !important;
    }
  }

  .isHI {
    margin-top: -7px;
    margin-bottom: -5px;
  }

  .header-popup-discard {
    border-bottom: none;
  }

  .box-datepicker .md-form.form-xs {
    margin: 0;
  }

  .box-datepicker label {
    padding-top: 4px;
  }

  .k-checkbox:checked + .k-checkbox-label:before {
    background: none;
  }

  .k-checkbox:checked + .k-checkbox-label:after {
    display: none;
  }

  .k-grid tr:has(td:has(.k-checkbox:focus + .k-checkbox-label:before)) {
    background-color: #f0e6df !important;
  }

  .modal-body.body-popup-discard {
    .sumPrice {
      width: 9.8%;
    }

    .sumPriceHI {
      width: 9.9%;
    }

    .sumSurcharge {
      width: 9.9%;
    }

    .label-footer-grid {
      width: 46%;
    }

    @media only screen and (max-width: 1135px) {
      .sumPrice {
        width: 8.8%;
      }
    }

    @media only screen and (max-width: 1110px) {
      .sumPrice {
        width: 7.8%;
      }

      .sumPriceHI {
        width: 10.9%;
      }
    }

    @media only screen and (max-width: 1070px) {
      .label-footer-grid {
        width: 44%;
      }

      .sumPriceHI {
        width: 11.9%;
      }
    }
  }

  .k-checkbox:focus + .k-checkbox-label:before {
    box-shadow: 0 0 0 2px #f3170040;
  }
}
