.report {
  .card {
    border-bottom: none !important;
    border: none !important;
    // border-radius: 0;

    .card-header {
      color: #000;
      padding: 0;
      padding-left: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-top: 10px;
      padding-bottom: 10px;

      //   padding-top: 17px;
      >a {
        display: table
      }

      h5 {
        font-size: 1rem;

        >.fa {
          display: none
        }
      }
    }

    //
    .card-body {
      padding: 0px;
    }
  }
}
